	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/06/2016 09:52
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-2-squares:before { content: "\f100"; }
.flaticon-account-balance:before { content: "\f101"; }
.flaticon-bag:before { content: "\f102"; }
.flaticon-barcode:before { content: "\f103"; }
.flaticon-barcode-1:before { content: "\f104"; }
.flaticon-box:before { content: "\f105"; }
.flaticon-box-1:before { content: "\f106"; }
.flaticon-business-stocks-graphic-with-two-arrows:before { content: "\f107"; }
.flaticon-cash-register:before { content: "\f108"; }
.flaticon-change:before { content: "\f109"; }
.flaticon-checklist-and-pencil:before { content: "\f10a"; }
.flaticon-commerce:before { content: "\f10b"; }
.flaticon-commerce-1:before { content: "\f10c"; }
.flaticon-commerce-2:before { content: "\f10d"; }
.flaticon-credit-card:before { content: "\f10e"; }
.flaticon-delivery:before { content: "\f10f"; }
.flaticon-fashion:before { content: "\f110"; }
.flaticon-full-items-inside-a-shopping-bag:before { content: "\f111"; }
.flaticon-interface:before { content: "\f112"; }
.flaticon-line-graphic-on-a-computer-monitor-in-a-circle:before { content: "\f113"; }
.flaticon-list:before { content: "\f114"; }
.flaticon-male-and-female-symbol:before { content: "\f115"; }
.flaticon-man-improving-business-graphic-arrow-holding-it-up-for-ascendant-stock:before { content: "\f116"; }
.flaticon-money-transfer:before { content: "\f117"; }
.flaticon-people:before { content: "\f118"; }
.flaticon-people-1:before { content: "\f119"; }
.flaticon-placeholder-on-map-paper-in-perspective:before { content: "\f11a"; }
.flaticon-sale-announcer:before { content: "\f11b"; }
.flaticon-sales:before { content: "\f11c"; }
.flaticon-sales-symbol-of-up-arrow-and-a-businessman:before { content: "\f11d"; }
.flaticon-scissors:before { content: "\f11e"; }
.flaticon-signs:before { content: "\f11f"; }
.flaticon-stock:before { content: "\f120"; }
.flaticon-stock-data-analysis:before { content: "\f121"; }
.flaticon-transfer:before { content: "\f122"; }
.flaticon-transfer-1:before { content: "\f123"; }
.flaticon-transference:before { content: "\f124"; }
.flaticon-truck:before { content: "\f125"; }
.flaticon-warehouse:before { content: "\f126"; }
.flaticon-wedding-planning:before { content: "\f127"; }
.flaticon-worker-loading-boxes:before { content: "\f128"; }