<h1>Upload Image</h1>
<button class="btn btn-default" onclick="load_archive_data_2()">Back</button>

<div id="ARCHIVE-NEW"></div>

<script>
    $("#ARCHIVE-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string"
                },

                "caption_bn":{
                    "title": "Caption (Bangla)",
                    "type": "string"
                },
                "caption_en":{
                    "title": "Caption (English)",
                    "type": "string"
                },
                "position":{
                    "title": "Order",
                    "type": "string",
                    "default": 0
                },
                "image_video": {
                    "title": "Image",
                    "type": "string"
                },
                "category_id": {
                    "type": "string"
                },
            }
        },
        "postRender": function(control) {
            //load_data();
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden",
                },

                "caption_bn": {
                    "id": "caption_bn",
                },
                "caption_en": {
                    "id": "caption_en",
                },
                "position": {
                    "id": "position",
                    "type": "integer",
                },
                "image_video": {
                    "id": "image_video",
                    "type": "file",
                    "selectionHandler": function(files, data) {
                        this.data = data;
                    },
                },
                "category_id": {
                    "id": "category_id",
                    "type": "hidden",
                },
            },

            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/archive",
                    "method": "POST",
                    "enctype": "multipart/form-data"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }
                            $('#category_id').val(currentCategoryId);
//                                    var value = this.topControl.data;
                            console.debug(currentCategoryId);
                            var config = {};
//                                    config.contentType = "application/json";
//                                    config.data = JSON.stringify(value);
//                                    config.data = new FormData(value);
//                            var form = $("#ARCHIVE-NEW > form");
                            var value = this.getValue();
                            var id = this.getId();
                            console.debug(id);
                            var formData = new FormData($("form#"+id)[0]);
                            config.data =  formData;


//                            config.data = new FormData( this.getId );
                            config.processData = false;
                            config.contentType = false;

                            this.ajaxSubmit(config).done(function(){
                                load_archive_data_2();
//                                    $('#ajax-content').html("<h4>File Uploaded Successfully.</h4>");
                            }).fail(function(){
//                                    console.warn('Failed to save');
                                    });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>