<h1 id="category_name"></h1>

<div id="ARCHIVE-NEW"></div>

<script>
    function load_form(){
        $("#ARCHIVE-NEW").alpaca({
            "schema": {
                "type": "object",
                "properties": {
                    "id":{
                        "type": "string"
                    },

                    "caption_bn":{
                        "title": "Caption (Bangla)",
                        "type": "string"
                    },
                    "caption_en":{
                        "title": "Caption (English)",
                        "type": "string"
                    },
                    "file_bn_name": {
                        "title": "File (Bangla)",
                        "type": "string"
                    },
                    "file_bn": {
                        "title": "Upload File (Bangla)",
                        "type": "string"
                    },
                    "file_vid_bn_name": {
                        "title": "Video File (Bangla)",
                        "type": "string"
                    },
                    "file_vid_bn": {
                        "title": "Upload Video File (Bangla)",
                        "type": "string"
                    },
                    "file_en_name": {
                        "title": "File (English)",
                        "type": "string"
                    },
                    "file_vid_bn_name": {
                        "title": "Video File (Bangla)",
                        "type": "string"
                    },
                    "file_vid_en": {
                        "title": "Upload Video File (English)",
                        "type": "string"
                    },
                    "file_en": {
                        "title": "Upload File (English)",
                        "type": "string"
                    },
                    "category_id": {
                        "type": "string"
                    },
                }
            },
            "postRender": function(control) {
                $('#file_bn_name').css("display","none");
                $('#file_vid_bn_name').css("display","none");
                $('#file_en_name').css("display","none");
                $('#file_vid_en_name').css("display","none");
                load_data();
            },
            "options": {

                "fields": {
                    "id": {
                        "id": "id",
                        "type": "hidden",
                    },

                    "caption_bn": {
                        "id": "caption_bn",
                    },
                    "caption_en": {
                        "id": "caption_en",
                    },
                    "file_bn_name": {
                        "id": "file_bn_name",
                    },
                    "file_bn": {
                        "id": "file_bn",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                    },
                    "file_vid_bn_name": {
                        "id": "file_vid_bn_name",
                    },
                    "file_vid_bn": {
                        "id": "file_vid_bn",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                    },
                    "file_en_name": {
                        "id": "file_en_name",
                    },
                    "file_en": {
                        "id": "file_en",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                    },
                    "file_en_name": {
                        "id": "file_vid_en_name",
                    },
                    "file_vid_en": {
                        "id": "file_vid_en",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                    },
                    "category_id": {
                        "id": "category_id",
                        "type": "hidden",
                    },
                },

                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/archive",
                        "method": "POST",
                        "enctype": "multipart/form-data"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }
                                $('#category_id').val(currentCategoryId);
//                                    var value = this.topControl.data;
//                                    console.debug(value);
                                var config = {};
//                                    config.contentType = "application/json";
//                                    config.data = JSON.stringify(value);
//                                    config.data = new FormData(value);
//                            var form = $("#ARCHIVE-NEW > form");
                                var value = this.getValue();
                                var id = this.getId();
                                console.debug(id);
                                var formData = new FormData($("form#"+id)[0]);
                                config.data =  formData;


//                            config.data = new FormData( this.getId );
                                config.processData = false;
                                config.contentType = false;

                                this.ajaxSubmit(config).done(function(){
                                    //load_archive_data_2();
                                    $('#ajax-content').html("<h4>File Uploaded Successfully.</h4>");
                                }).fail(function(){
//                                    console.warn('Failed to save');
                                        });
                            }
                        },
//                        "reset": {},
                    }
                }
            }
        });
    }
    function load_data(){
        $.ajax({
            url : currentDataUrl,
            type: "GET",
            success:function(data, textStatus, jqXHR)
            {
                //console.debug(data.id);
                if(data)
                {
                    $('#id').val(data.id);
                    $('#caption_bn').val(data.caption_bn);
                    $('#caption_en').val(data.caption_en);
                    $('#file_bn').val('');
                    $('#file_bn_name').val(data.file_bn);
                    $('#file_bn_name').attr("disabled","disabled");
                    $('#file_vid_bn_name').val(data.file_vid_bn);
                    $('#file_vid_bn_name').attr("disabled","disabled");
                    $('#file_en').val('');
                    $('#file_en_name').val(data.file_en);
                    $('#file_en_name').attr("disabled","disabled");
                    $('#file_vid_en_name').val(data.file_vid_en);
                    $('#file_vid_en_name').attr("disabled","disabled");

                    $('#file_bn_name').css("display","block");
                    $('#file_vid_bn_name').css("display","block");
                    $('#file_en_name').css("display","block");
                    $('#file_vid_en_name').css("display","block");

//        $('#image_video').val('');
                    $('#category_id').val(currentCategoryId);

                }

                $('.preloader').hide();
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                $('.preloader').hide();
            }
        });
    }
    function clear_form(){
        $('#caption_bn').val('');
        $('#caption_en').val('');
//        $('#file_bn').val('');
//        $('#file_en').val('');
        $('#image_video').val('');
        $('#category_id').val(currentCategoryId);
        $('#id').val('');
    }
    jQuery(function($) {
        load_form();

    });
</script>