<h1 id="category_name"></h1>

<div id="ARCHIVE-NEW"></div>

<script>
    $("#ARCHIVE-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "caption_bn":{
                    "title": "Caption (Bangla)",
                    "type": "string"
                },
                "caption_en":{
                    "title": "Caption (English)",
                    "type": "string"
                },
                "image_video": {
                    "title": "Video",
                    "type": "string"
                },
                "category_id": {
                    "type": "string"
                },
            }
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden",
                },
                "caption_bn": {
                    "id": "caption_bn",
                },
                "caption_en": {
                    "id": "caption_en",
                },
                "image_video": {
                    "id": "image_video",
                    "type": "file",
                    "selectionHandler": function(files, data) {
                        this.data = data;
                    },
                },
                "category_id": {
                    "id": "category_id",
                    "type": "hidden",
                },
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/archive",
                    "method": "POST",
                    "enctype": "multipart/form-data"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }
                            $('#category_id').val(currentCategoryId);
//                                    var value = this.topControl.data;
//                                    console.debug(value);
                            var config = {};
//                                    config.contentType = "application/json";
//                                    config.data = JSON.stringify(value);
//                                    config.data = new FormData(value);
//                            var form = $("#ARCHIVE-NEW > form");
                            var value = this.getValue();
                            var id = this.getId();
                            console.debug(id);
                            var formData = new FormData($("form#"+id)[0]);
                            config.data =  formData;


//                            config.data = new FormData( this.getId );
                            config.processData = false;
                            config.contentType = false;

                            this.ajaxSubmit(config).done(function(){
                                load_archive_data_2();
                            }).fail(function(){
//                                    console.warn('Failed to save');
                                    });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
    function clear_form(){
        $('#caption_bn').val('');
        $('#caption_en').val('');
//        $('#file_bn').val('');
//        $('#file_en').val('');
        $('#image_video').val('');
        $('#category_id').val(currentCategoryId);
        $('#id').val('');
    }
    jQuery(function($) {
        $.ajax({
            url : currentDataUrl,
            type: "GET",
            success:function(data, textStatus, jqXHR)
            {
                if(data){
                    $('#id').val(data.id);
                    $('#caption_bn').val(data.caption_bn);
                    $('#caption_en').val(data.caption_en);
//                    $('#file_bn').val(data.file_bn);
//                    $('#file_en').val(data.file_en);
        $('#image_video').val(data.image_video);
                    $('#category_id').val(currentCategoryId);

                }

                $('.preloader').hide();
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                $('.preloader').hide();
            }
        });
    });
</script>