<h1 id="category_name"></h1>
<button class="btn btn-default" onclick="new_archive()">New</button>
<table id="grid-data" class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th data-column-id="caption_bn" >Caption (Bangla)</th>
        <th data-column-id="caption_en" >Caption (English)</th>
        <th data-column-id="position" >Order</th>
        <th data-column-id="image_video">Image File</th>
        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
    </tr>
    </thead>
</table>

<script>
    var grid = $("#grid-data").bootgrid({
        ajax: true,
        url: currentDataUrl,
        formatters: {
            "commands": function(column, row)
            {
                return '<button type="button" class="btn btn-xs btn-default command-edit" data-row-id="' + row.id + '"><span class="fa fa-pencil"></span></button> ' +
                        '<button type="button" class="btn btn-xs btn-default command-delete" data-row-id="' + row.id + '"><span class="fa fa-trash-o"></span></button>';
            }
        }
    }).on("loaded.rs.jquery.bootgrid", function()
            {
                /* Executes after data is loaded and rendered */
                grid.find(".command-edit").on("click", function(e)
                {
                    edit_archive($(this).data("row-id"));
                }).end().find(".command-delete").on("click", function(e)
                        {
                            delete_archive( $(this).data("row-id"),function(data){
                                $("#grid-data").bootgrid("reload");
                            });
                        });
            });
</script>