<div class="page-header">
    <h1 id="cash_register">
        Cash Register
        <!-- <small>
            <i class="ace-icon fa fa-angle-double-right">&nbsp Cash Register report</i>
        </small> -->
    </h1>
</div><!-- /.page-header -->

<!-- <p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/user_new.html')">Add New Users</button>
</p> -->
<div id="toolbar">
    <p class="alert alert-info">
        <select class="form-control">
            <option value="">NO FILTER ON EVENT .. SHOW ALL</option>
            <option value="0">Day Close</option>
            <option value="1">Day Open</option>
            <option value="2">Drawer Open</option>
            <option value="3">Drawer Close</option>
            <option value="4">Pettycash In</option>
            <option value="5">Pettycash Out</option>
        </select>
    </p>
</div>

<div class="widget-box widget-color-blue2">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            <i class="ace-icon fa fa-table"></i>
            Cash Registe Report
        </h5>
        <div class="widget-toolbar widget-toolbar-light no-border">
            <a id="grid_reload" data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>

    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="grid-data" data-show-export="true" data-toolbar="#toolbar"></table>
        </div>
    </div>
</div>  <!-- widget Box -->

<script>
    function initgrid(){
        var grid = $('#grid-data').bootstrapTable({
            url: APP_BASE_API + "/cashRegisterList",
            responseHandler: data_grid_response,
            method: 'POST',
            search: false,
            searchOnEnterKey: true,
            pagination: false,
            sidePagination: 'server',
            pageSize: 20,
            pageList: [20, 30, 40, 50, 100],
            showRefresh: false,
            showColumns: false,
            buttonsClass: 'info',
            columns: [{
                field: 'id',
                title: 'ID',
                hidden: 'true'
            }, {
                field: 'name',
                title: 'Outlet Name'
            }, {
                field: 'event',
                title: 'event',
                formatter: eventformatter
            }, {
                field: 'amount',
                title: 'amount'
            }, {
                field: 'till_no',
                title: 'Till number'
            }, {
                field: 'last_balance',
                title: 'Last Balance'
            }, {
                field: 'balance',
                title: 'Balance'
            }, {
                field: 'business_day',
                title: 'business_day'
            }, {
                field: 'business_day',
                title: 'business_day'
            }, {
                field: 'remarks',
                title: 'remarks'
            }]
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            
        });
    }

    function eventformatter(value, row, index){
        var event;
        switch (value) {
            case '0':
                event = "Day Close";
                break;
            case '1':
                event = "Day Open";
                break;
            case '2':
                event = "Drawer Open";
                break;
            case '3':
                event = "Drawer Close";
                break;
            case '4':
                event = "Pettycash In";
                break;
            case '5':
                event = "Pettycash Out";
                break;
            default:
                event = "NULL";
        }
        return event;
    }

    $(function() {
        initgrid();

        $('#grid_reload').click(function(){
            $('#grid-data').bootstrapTable('refresh');
        });

        $('#toolbar').find('select').change(function () {
            $('#grid-data').bootstrapTable('refresh', {
                query: {filter: $(this).val()}
            });
        });
    });

</script>