<h1>New Color</h1>
<button class="btn btn-default" onclick="load_view('/color_list.html')">Back</button>

<div id="COLOR-NEW"></div>
<script>
    $("#COLOR-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "code":{
                    "title": "Code",
                    "type": "string"
                },
                "name": {
                    "title": "Name",
                    "type": "string"
                },
            }
        },
        "options": {

            "fields": {
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/color",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(){
                                load_view('/color_list.html');
                            }).fail(function(){
//                                    console.warn('Failed to save');
                                    });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>