<h1 id="category_name">Manage Color</h1>
<button class="btn btn-default" onclick="load_view('/color_new.html')">New</button>
<table id="grid-data" class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th data-column-id="id" >ID</th>
        <th data-column-id="code" >Color Code</th>
        <th data-column-id="name" >Name</th>
        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
    </tr>
    </thead>
</table>

<script>
    var grid = $("#grid-data").bootgrid({
        ajax: true,
        url: APP_BASE_API + "/colors",
        formatters: {
            "commands": function(column, row)
            {
                return '<button type="button" class="btn btn-xs btn-default command-edit" data-row-id="' + row.id + '"><span class="fa fa-pencil"></span></button> ' +
                        '<button type="button" class="btn btn-xs btn-default command-delete" data-row-id="' + row.id + '"><span class="fa fa-trash-o"></span></button>';
            }
        }
    }).on("loaded.rs.jquery.bootgrid", function()
            {
                /* Executes after data is loaded and rendered */
                grid.find(".command-edit").on("click", function(e)
                {
                    load_view_n_data("/color_edit.html","/color/" + $(this).data("row-id"));
                }).end().find(".command-delete").on("click", function(e)
                        {
                            delete_archive( $(this).data("row-id"),function(data){
                                $("#grid-data").bootgrid("reload");
                            });
                        });
            });
</script>