<h1>Add New Customer</h1>
<button class="btn btn-default" onclick="load_view('/customer_management.html')">Back</button>

<div id="Customer-EDIT"></div>


<script>
    function load_form(){
        $("#Customer-EDIT").alpaca({
            // "dataSource": currentDataUrl,
            "schema": {
                "type": "object",
                "properties": {
                    "id":{
                        "type": "string"
                    },
                    "name":{
                        "title": "Name",
                        "required": true,
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "email": {
                        "title": "Email Address",
                        "required": true,
                        "type": "string",
                        "maxLength": 100,
                    },
                    "phone_number": {
                        "title": "Phone Number",
                        "required": true,
                        "type": "string",
                        "minLength": 11,
                        "maxLength": 100,
                    },
                    "address": {
                        "title": "Address",
                        "required": true,
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "city": {
                        "title": "City",
                        "required": true,
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "state": {
                        "title": "State",
                        "required": true,
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "zip": {
                        "title": "ZIP",
                        "required": true,
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "comment": {
                        "title": "Comment",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "company_name": {
                        "title": "Company Name",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "password": {
                        "title": "Password",
                        "required": true,
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "image_video": {
                        "title": "Image",
                        "type": "string"
                    },
                }
            },
            "options": {

                "fields": {
                    "id": {
                        "id": "id",
                        "type": "hidden"
                    },
                    "name":{
                        "id": "name"
                    },
                    "email": {
                        "id": "email"
                    },
                    "phone_number": {
                        "id": "phone_number"
                    },
                    "address": {
                        "id": "address"
                    },
                    "city": {
                        "id": "city"
                    },
                    "state": {
                        "id": "state"
                    },
                    "zip": {
                        "id": "zip"
                    },
                    "comment": {
                        "id": "comment"
                    },
                    "company_name": {
                        "id": "company_name"
                    },
                    "password": {
                        "id": "password"
                    },
                    "image_video": {
                        "id": "image_video",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                    }
                },
                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/customerEdit",
                        "method": "POST",
                        "enctype": "multipart/form-data"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }

                                var value = this.getValue();
                                var config = {};
                                // config.contentType = "application/json";
                                // config.data = JSON.stringify(value);
                                var value = this.getValue();
                                var id = this.getId();
                                var formData = new FormData($("form#"+id)[0]);
                                config.data =  formData;

                                config.processData = false;
                                config.contentType = false;

                                this.ajaxSubmit(config).done(function(){
                                    load_view('/customer_management.html');
                                }).fail(function(){
                                       console.warn('Failed to save');
                                        });
                            }
                        },
    //                        "reset": {},
                    }
                }
            }
        });
    }

    function load_data(){
        $('.preloader').show();
        $.ajax({
            url : currentDataUrl,
            type: "GET",
            success:function(data, textStatus, jqXHR)
            {
                //console.debug(data.id);
                if(data){   
                    $('#id').val(data.id);
                    $('#name').val(data.name);
                    $('#email').val(data.email);
                    $('#phone_number').val(data.phone_number);
                    $('#address').val(data.address);
                    $('#city').val(data.city);
                    $('#state').val(data.state);
                    $('#zip').val(data.zip);
                    $('#comment').val(data.comment);
                    $('#company_name').val(data.company_name);
                    $('#password').val(data.password);
//                    $('#file_bn').val(data.file_bn);
//                    $('#file_en').val(data.file_en);
                    $('#avatar').val(data.avatar);
                    $('#avatar').attr("disabled","disabled");
                    $('#avatar-image').attr("src",APP_SERVER_BASE+data.avatar);
                    $('#avatar-image').css("width","200");
                    $('#image_video').val('');
                    // $('#category_id').val(data.category_id);

                }
                
                $('.preloader').hide();
            },
            error: function(jqXHR, textStatus, errorThrown){
                $('.preloader').hide();
            }
        });
    }

    function clear_form(){
        $('#id').val('');
        $('#name').val('');
        $('#email').val('');
        $('#phone_number').val('');
        $('#address').val('');
        $('#city').val('');
        $('#state').val('');
        $('#zip').val('');
        $('#company_name').val('');
        $('#password').val('');
        // $('#file_bn').val(data.file_bn);
        // $('#file_en').val(data.file_en);
        $('#image_video').val('');
    }
    jQuery(function($) {
        load_form();
    });
    
</script>