<div class="container">
	<div class="page-header">
		<h1>Welcome to the PlexPOS Admin dashboard</h1>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Sales</div>
				<div class="panel-body">
					<div id="sales_chart"></div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Product Sales Chart</div>
				<div class="panel-body">
					<div id="product_sales_chart"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Product report</div>
				<div class="panel-body">
					This will be Product report Content
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Sale's report</div>
				<div class="panel-body">
					<button onclick="load_view('/sales_report.html');" class="btn btn-white btn-info btn-bold"><i class="ace-icon fa fa-reply icon-only"></i>&nbsp Go To Sales Report</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var saleDate = [];
	var saleCount = [];

	var customDateArray = [];
	var customDateArray_2 = [];
	var customSoldItemCount = [];

	var salesNode = $('#sales_chart');
	var productSalesNode = $('#product_sales_chart');

	var salechart_option = {
		chart: {
            type: 'line'
        },
        title: {
            text: 'Sale chart'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Taka'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }]
	};

	var saleCoutnChart_option = {
		chart: { type: 'line' },
        title: { text: 'Item Sales Graph' },
        subtitle: { text: 'Represents Item sale quantity'},
        xAxis: { categories: [] },
        yAxis: {
            title: { text: 'sale quantity' }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: true
            }
        },
        series: [{name: "Monthly", events: {
        	click: function(e){
        		hs.htmlExpand(null, {
                                    pageOrigin: {
                                        x: e.pageX || e.clientX,
                                        y: e.pageY || e.clientY
                                    },
                                    headingText: this.series.name,
                                    maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ':<br/> ' +
                                        this.y + ' visits',
                                    width: 200
                                });
        	}
        }}, {name: "By Detailed Date"}]
	}

	function salecountchartresponse(data){
		SIC_1(data);
		SIC_2(data);
	}

	function SIC_1(data){
		for(var i = 0; i < data.length; i++){
			var token = data[i].created_at.split(" ");
			var token_item = parseInt(data[i].total_qty);
			
			if (customDateArray[customDateArray.length-1] == undefined) {
				customDateArray.push(token[0]);
				customSoldItemCount.push(token_item);
			} else if (customDateArray[customDateArray.length-1] == token[0]){
				customSoldItemCount[customSoldItemCount.length-1] += token_item;
			} else {
				customDateArray.push(token[0]);
				customSoldItemCount.push(token_item);
			}
		}
		load_SIC_cat(customDateArray);
		saleCoutnChart_option.series[0].data = customSoldItemCount;
		productSalesNode.highcharts(saleCoutnChart_option);
	}

	function load_SIC_cat(dataarray){
		for(var i = 0; i < dataarray.length; i++){
			var tt_date = dataarray[i].split("-");
			var tmpDate = tt_date[1]+"/"+tt_date[2];
			saleCoutnChart_option.xAxis.categories.push(tmpDate);
		}
	}

	function SIC_2(data2){
		console.log(data2.length);
		for (var i = 0; i < data2.length; i++) {
			var datetimestring = data2[i].created_at;
			
			var tok_date = datetimestring.split(" ");
			customDateArray_2.push(tok_date[0]);

			saleCount.push( parseInt(data2[i].total_qty) );
			
		}
		load_SIC_cat(customDateArray_2);
		saleCoutnChart_option.series[1].data = saleCount;
		productSalesNode.highcharts(saleCoutnChart_option);
	}

	function loadSales(data){
		data.forEach(function(day) {
		    // console.log('date = ' + day.date + ' , taka = ' + day.taka);
		});
	}

	jQuery(function($){
		requestApi("/salesHistry", "GET", '', loadSales);
		requestApi("/itemSaleHistory", "GET", '', salecountchartresponse);

		salesNode.highcharts(salechart_option);
	});
</script>
