<h1>New Discount Category</h1>
<button class="btn btn-default" onclick="load_view('/discount_category_list.html')">Back</button>

<div id="Discount-Category-NEW"></div>
<script>
    $("#Discount-Category-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "type": {
                    "title": "Name",
                    "type": "string"
                },
                "percent": {
                    "title": "Percentage (%)",
                    "type": "number"
                },
            }
        },
        "options": {

            "fields": {
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/discount_category",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(){
                                load_view('/discount_category_list.html');
                            }).fail(function(){
//                                    console.warn('Failed to save');
                                    });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>