<div class="page-header">
    <h1 id="employee_edit">
        Edit Employee Detail
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Edit your employee details
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/employee_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        Employee Registration Form
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="Employee-EDIT"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
    function load_form(){
        $("#Employee-EDIT").alpaca({
            // "dataSource": currentDataUrl,
            "schema": {
                "type": "object",
                "properties": {
                    "id":{
                        "type": "string"
                    },
                    "name":{
                        "title": "Name",
                        "required": true,
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "email": {
                        "title": "Email Address",
                        "required": true,
                        "type": "string",
                        "maxLength": 100,
                    },
                    "new_password": {
                        "title": "New Password",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "retype_password": {
                    	"title": "Re-Type New Password",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "image_view": {
                        "type": "string"
                    },
                    "image_video": {
                        "title": "Image",
                        "type": "string"
                    },
                },
                "dependencies": {
	            "retype_password": "new_password"
	        }
            },
            "postRender": function(control) {
                load_data();
            },
            "options": {

                "fields": {
                    "id": {
                        "id": "id",
                        "type": "hidden"
                    },
                    "name":{
                        "id": "name",
                        "helper": "Edit employee name"
                    },
                    "email": {
                        "id": "email",
                        "helper": "Edit employee email"
                    },
                    "new_password": {
                        "id": "password",
                        "type": "password",
                        "helper": "Edit employee password"
                    },
                    "retype_password": {
                        "id": "retype_password",
                        "type": "password"
                    },
                    "image_view": {
                        "id": "avatar",
                        "type": "image",
                        "helper": "Your Employee's current avatar"
                    },
                    "image_video": {
                        "id": "image_video",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                        "helper": "Choose new avatar for your employee"
                    }
                },
                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/employeeEdit",
                        "method": "POST",
                        "enctype": "multipart/form-data"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }

                                var value = this.getValue();
                                var config = {};
                                // config.contentType = "application/json";
                                // config.data = JSON.stringify(value);
                                var value = this.getValue();
                                var id = this.getId();
                                var formData = new FormData($("form#"+id)[0]);
                                config.data =  formData;

                                config.processData = false;
                                config.contentType = false;

                                this.ajaxSubmit(config).done(function(){
                                    load_view('/employee_management.html');
                                }).fail(function(){
                                       console.warn('Failed to save');
                                        });
                            }
                        },
    //                        "reset": {},
                    }
                }
            }
        });
    }

    function load_data(){
        $('.preloader').show();
        $.ajax({
            url : currentDataUrl,
            type: "GET",
            success:function(data, textStatus, jqXHR)
            {
                //console.debug(data.id);
                if(data){   
                    $('#id').val(data.id);
                    $('#name').val(data.name);
                    $('#email').val(data.email);
                    // $('#phone_number').val(data.phone_number);
                    // $('#address').val(data.address);
                    // $('#city').val(data.city);
                    // $('#state').val(data.state);
                    // $('#zip').val(data.zip);
                    // $('#comment').val(data.comment);
                    // $('#company_name').val(data.company_name);
//                     $('#password').val(data.password);
//                    $('#file_bn').val(data.file_bn);
//                    $('#file_en').val(data.file_en);
                    $('#avatar').val(data.avatar);
                    $('#avatar').attr("disabled","disabled");
                    $('#avatar-image').attr("src",APP_SERVER_BASE+data.avatar);
                    $('#avatar-image').css("width","200");
                    $('#image_video').val('');
                    // $('#category_id').val(data.category_id);

                }
                
                $('.preloader').hide();
            },
            error: function(jqXHR, textStatus, errorThrown){
                $('.preloader').hide();
            }
        });
    }

    function clear_form(){
        $('#id').val('');
        $('#name').val('');
        $('#email').val('');
        // $('#phone_number').val('');
        // $('#address').val('');
        // $('#city').val('');
        // $('#state').val('');
        // $('#zip').val('');
        // $('#company_name').val('');
        $('#password').val('');
        // $('#file_bn').val(data.file_bn);
        // $('#file_en').val(data.file_en);
        $('#image_video').val('');
    }
    jQuery(function($) {
        load_form();

        //$2y$10$AQ7KiR4.RVUqrhM5fEw.zexRASQGnSXvgevdGEbRX96o7MisBFjl.
        //$2y$10$mcUyOet6Q5fvzTHMnXrGLONfvVMKqeWW.oFiUyn3KuQwBhSqN7u/i
    });
    
</script>