<div class="page-header">
    <h1 id="employee_manage">
        Employees
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Manage Your Employees
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/employee_create.html')">Add New Employee</button>
</p>

<div class="widget-box widget-color-blue2">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            <i class="ace-icon fa fa-table"></i>
            All Employees
        </h5>
        <div class="widget-toolbar widget-toolbar-light no-border">
            <a data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>

    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="grid-data" class="table table-striped table-bordered table-hover" data-height="1000"></table>
        </div>
    </div>
</div>  <!-- widget Box -->

<script>
    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/employeeList",
        responseHandler: data_grid_response,
        method: 'POST',
        search: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 10,
        pageList: [10, 25, 50, 100],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'avatar',
            title: 'Profile picture',
            width: '10%',
            formatter: showProfilePic
        }, {
            field: 'name',
            title: 'Name'
        }, {
            field: 'email',
            title: 'Email'
        }, {
            field: 'created_at',
            title: 'Employed At'
        }, {
            field: 'updated_at',
            title: 'Updated'
        }, {
            field: 'commands',
            title: 'Commands',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            // console.warn($(this).attr('uniqueId'));            
            load_view_n_data("/employee_edit.html", "/employeeEdit/" + $(this).attr('uniqueId') + "/" +randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            // delete_archive( $(this).attr('uniqueId'),function(data){
            //     $("#grid-data").bootstrapTable("refresh");
            // }, 'employee' );
            var deleteemployeeId = $(this).attr('uniqueId');
            bootbox.confirm("Are you sure to delete this Employee?", function(result) {
                if(result) {
                    requestApi('/employeeDelete/'+ deleteemployeeId, "GET", '', function(data){
                        if (data.status == "success") {
                            gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                            $("#grid-data").bootstrapTable("refresh");
                        } else {
                            gritter(data.status, data.message, false, '3000', 'gritter-error gritter-center');
                        }
                    });
                }
            });
        });
    });

    function showProfilePic(value, row, index){
        return '<img src="'+APP_SERVER_BASE+value+'" width="100" alt="Photo not found"/>';
    }

    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'" style="width: 30%;"> <span class="fa fa-pencil"></span></button>' +
               '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px; width: 30%;"> <span class="fa fa-trash-o"></span></button>';
    }

</script>