<div class="page-header">
    <h1 id="footer_manage_menu">
        Footer Menu Editor
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create, Edit, Re-Order your Footer menu
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-sm-4">
        <p class="alert alert-success">
            <button class="btn btn-success" onclick="nestableMenuBuilder.reload_menu(false)">Reload Footer Menu</button>
        </p>
        <!-- <button class="btn btn-default" onclick="buildMenu.build()">Show Menu</button> -->
        <!-- <button class="btn btn-default" onclick="buildMenu.unbuild()">Hide Menu</button> -->
        <div id="menu-dd-list" class="dd dd-draghandle ">
            <ol class="dd-list">
            </ol>
        </div>
    </div>
    <div class="col-md-8">
        <div id="menu_form">
    </div>
</div>

<script>




    var nestableMenuBuilder = {
        roles: {"1":"Superadmin"},
        clear_menu_form : function()
        {
            $('#id').val('');
            $('#name').val('');
            $('[name="is_leaf"]').prop('checked', false);
            $('#content').val('');
            $('#uri').val("");
        },

        build_menu_form : function()
        {

            $("#menu_form").alpaca({
                "schema": {
                    "title": "Footer Menu Information",
                    "type": "object",
                    "properties": {
                        "id":{
                            "type": "string"
                        },
                        "name": {
                            "title": "Title",
                            "type": "string"
                        },
                        "is_leaf": {
                            "title": "Is Leaf",
                            "type": "string"
                        },
                        "content": {
                            "title": "content",
                            "type": "text"
                        },
                        "uri": {
                            "title": "URI",
                            "type": "string"
                        },
                    }
                },
                "options": {

                    "fields": {
                        "id": {
                            "id": "id",
                            "type": "hidden",
                        },
                        "name": {
                            "id": "name",
                        },
                        "is_leaf": {
                            "id": "is_leaf",
                            "type": "checkbox",
                        },
                        "content": {
                            "id": "content",
                            "type": "ckeditor",
                            "helper": "Edit the Page Content",
                        },
                        "uri": {
                            "id": "uri",
                        },
                    },
                    "form": {
                        "attributes": {
                            "action": APP_BASE_API + "/footermenus",
                            "method": "POST"
                        },
                        "buttons": {
                            "submit": {
                                "click": function() {
                                    this.refreshValidationState(true);
                                    if (!this.isValid(true)) {
                                        this.focus();
                                        return;
                                    }

                                    var value = this.getValue();

//                                    value.roles = value.roles.join();
                                    console.debug(value);
                                    var config = {};
//                                    config.dataType = "json";
                                    config.contentType = "application/json";
//                                    config.processData = false;
                                    config.data = JSON.stringify(value);

                                    this.ajaxSubmit(config).done(function(){
                                        nestableMenuBuilder.clear_menu_form();
                                        nestableMenuBuilder.reload_menu(false);
                                    }).fail(function(){
    //                                    console.warn('Failed to save');
                                            });
                                }
                            },
    //                        "reset": {},
                            "new": {
                                "title": "New",
                                "click": function() {
                                    nestableMenuBuilder.clear_menu_form();
                                }
                            }
                        }
                    }
                },
                "postRender": function(control) {
                    var is_leaf = control.childrenByPropertyId["is_leaf"];
                    var menuinfo = control.childrenByPropertyId["menuinfo"];
                    is_leaf.on("change", function() {
                        console.log(menuinfo);
                    });
                }
            });
        },

        get_menu_item : function(id)
        {
            $.ajax({
                url : APP_BASE_API + "/footermenus/"+id+ "/" + randomGenarator(),
                type: "GET",
    //            data : JSON.stringify(menus),
                dataType: "json",
                success:function(data, textStatus, jqXHR)
                {
//                    $('#ajax-content').html(data);
                    $('#id').val(data.id);
                    $('#name').val(data.name);
                    $('#content').text("THis is Not workking");                  
                    $('#uri').val(data.uri);
                    $('[name="is_leaf"]').prop('checked', parseInt(data.is_leaf)?true:false);

                    $('.preloader').hide();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('.preloader').hide();
                }
            });
        },

        delete_menu_item : function(id)
        {
            $.ajax({
                url : APP_BASE_API + "/footermenus/"+id,
                type: "DELETE",
                dataType: "json",
                success:function(data, textStatus, jqXHR)
                {
//                    console.debug(data);
                    nestableMenuBuilder.reload_menu(false);
                    $('.preloader').hide();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('.preloader').hide();
                }
            });
        },


        reload_menu : function(flg)
        {
            $.ajax({
                url : APP_BASE_API + "/footermenus",
                type: "GET",
                success:function(data, textStatus, jqXHR)
                {
                    if(data.length > 0){
                        nestableTree.build_tree(data, flg);
                    }

                    $('.preloader').hide();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('.preloader').hide();
                }
            });
        },
        init:function(){
            nestableTree.id = "menu-dd-list";
            nestableTree.uri = "/footermenus/hierarchy";
            nestableTree.callback_get_funtion_name = "nestableMenuBuilder.get_menu_item";
            nestableTree.callback_delete_function_name = "nestableMenuBuilder.delete_menu_item";

            nestableTree.init();
            nestableMenuBuilder.build_menu_form();
            this.reload_menu(true);
        }
    };

    $(document).ready(function() {

        nestableMenuBuilder.init();
    });
</script>