<div class="page-header">
    <h1 id="logo_manage">
        Logo
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Logo and Baseline Settings
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-default">
    <button class="btn btn-default" onclick="load_view('/logo_manage.html')">Reload</button>
</p>

<div id="logo"></div>

<script type="text/javascript">
	$("#logo").alpaca({
            "schema": {
                "type": "object",
                "properties": {
                    "imagePreview": {
                        "type": "string",
                    },
                    "id":{
                        "type": "string",
                    },
                    "title": {
                        "title": "Baseline",
                        "type": "string",
                        "maxLength": 50,
                    },
                    "image_video": {
                        "title": "Image",
                        "type": "string"
                    },
                    "created_at": {
                    	"title": "Last Updated",
                    	"type": "string",
                    },
                }
            },
            "postRender": function(control) {
                load_form_data();
            },
            "options": {
                "fields": {
                    "imagePreview": {
                        "id": "avatar",
                        "type": "image",
                        "view": "bootstrap-display",
                        "helper": "Current uploaded Logo"
                    },
                    "id": {
                        "id": "id",
                        "type": "hidden"
                    },
                    "title": {
                        "id": "title",
                        "helpers": ["Current Baseline will show if exists", "Enter to edit the Baseline"],
                    },
                    "image_video": {
                        "id": "image_video",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                        "helpers": ["Choose to Upload new logo", "Leave as it is if you dont want to change current logo"],
                    },
                    "created_at": {
                		"id": "created_at",
                		"disabled": true
                    },
                },
                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/savelogo",
                        "enctype": "multipart/form-data",
                        "method": "POST"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }

                                var config = {};
                                var value = this.getValue();
                                var id = this.getId();
                                var formData = new FormData($("form#"+id)[0]);
                                config.data =  formData;
                                config.processData = false;
                                config.contentType = false;
                                this.ajaxSubmit(config).done(function(data){
                                    if(data.status == "success"){
                                        gritter(data.status, data.message, false, '1500', 'gritter-success');
                                        load_view('/logo_manage.html');
                                    } else {
                                        gritter(data.status, data.message, false, '1500', 'gritter-error');
                                    }
                                }).fail(function(){
                                   gritter("Error", "Sending Failed", false, '1500', 'gritter-error');
                                        });
                            }
                        },
    //                        "reset": {},
                    }
                }
            }
        });

	function load_form_data(){
		$.ajax({
            url : APP_BASE_API + "/logo/" + randomGenarator(),
            type: "GET",
            success:function(data, textStatus, jqXHR){
                data.rows.forEach(function(row){

                    $('#id').val(row.id);
                    $('#title').val(row.baseline);
                    $('#created_at').val(row.created_at);
                    $('#avatar-image').attr("src","http://"+data.docroot+row.avatar);
                    $('#avatar-image').attr("alt","No Photo Found");
                    $('#avatar-image').css("width","300");
                });
            },
            error: function(jqXHR, textStatus, errorThrown){
                $('.preloader').hide();
            }
        });
	}
</script>