<div class="page-header">
    <h1 id="manage_categories">
        Category Manager
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create, Edit your Categories
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-sm-8">
        <p class="alert alert-success">
            <button class="btn btn-success" onclick="nestableTreeBuilder.reload_category(false)">Reload Categories List</button>
        </p>
        <!--<button class="btn btn-default" onclick="buildCategory.build()">Show Category</button>-->
        <!--<button class="btn btn-default" onclick="buildCategory.unbuild()">Hide Category</button>-->
        <div id="category-dd-list" class="dd dd-draghandle ">
            <ol class="dd-list">
            </ol>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget-box widget-color-default light-border">
            <div class="widget-header widget-header-small widget-header-flat">
                <div class="widget-toolbar">
                    <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                    <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="category_form"></div>
                </div>  <!-- WIDGET MAIN -->
            </div> <!-- WIDGET BODY -->
        </div>
    </div>
</div>

<script>




    var nestableTreeBuilder = {
        roles: {"1":"Superadmin"},
        clear_category_form : function()
        {
            $('#id').val('');
            $('#name').val('');
            $('#imageUrl').val();
            $('#imageUrl').attr("disabled","disabled");
            $('#imageUrl-image').attr("src","");
            $('#imageUrl-image').attr("alt","No Photo Found");
            $('#imageUrl-image').css("width","200");
            $('#image_video').val('');
        },

        build_category_form : function()
        {

            $("#category_form").alpaca({
                "schema": {
                    "title": "Category Information",
                    "type": "object",
                    "properties": {
                        "id":{
                            "type": "string"
                        },
                        "name": {
                            "title": "Caption (English)",
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 30,
                        },
                        "image_view": {
                            "type": "string",
                        },
                        "image_video": {
                            "title": "Image",
                            "type": "string"
                        },
                    },
                    "dependencies": {
//                        "type_id": ["is_leaf"],
                    }
                },
                "options": {

                    "fields": {
                        "id": {
                            "id": "id",
                            "type": "hidden",
                        },
                        "name": {
                            "id": "name",
                            "helper": "Enter category Name"
                        },
                        "image_view": {
                            "id": "imageUrl",
                            "type": "image",
                            "disabled": true,
                            "helper": "selected image"
                        },
                        "image_video": {
                            "id": "image_video",
                            "type": "file",
                            "helper": "Select Image for Category",
                            "selectionHandler": function(files, data) {
                                this.data = data;
                            },
                            "events": {
                                "change": function() {
                                    $('#imageUrl').val($('#image_video').val());
                                    $('#imageUrl-image').attr("src","");
                                    $('#imageUrl-image').attr("alt","No Photo Found");                                    
                                }
                            }
                        }
                    },
                    "form": {
                        "attributes": {
                            "action": APP_BASE_API + "/categories",
                            "method": "POST",
                            "enctype": "multipart/form-data"
                        },
                        "buttons": {
                            "submit": {
                                "click": function() {
                                    this.refreshValidationState(true);
                                    if (!this.isValid(true)) {
                                        this.focus();
                                        return;
                                    }

                                    var value = this.getValue();
                                    var config = {};
                                    // config.contentType = "application/json";
                                    // config.data = JSON.stringify(value);
                                    var value = this.getValue();
                                    var id = this.getId();
                                    var formData = new FormData($("form#"+id)[0]);
                                    config.data =  formData;

                                    config.processData = false;
                                    config.contentType = false;

                                    this.ajaxSubmit(config).done(function(data){
                                        if(data.status == "success"){
                                            gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                            nestableTreeBuilder.clear_category_form();
                                            nestableTreeBuilder.reload_category(false);
                                        } else {
                                            gritter(data.status, data.message, false, '1500', 'gritter-error gritter-center');
                                        }
                                    }).fail(function(){
                                           gritter("Error", "Sending Failed", false, '1500', 'gritter-error gritter-center');
                                            });
                                }
                            },
    //                        "reset": {},
                            "new": {
                                "title": "New",
                                "click": function() {
                                    nestableTreeBuilder.clear_category_form();
                                }
                            }
                        }
                    }
                }
            });
        },

        get_category_item : function(id)
        {
            $.ajax({
                url : APP_BASE_API + "/categories/"+id+ "/" + randomGenarator(),
                type: "GET",
    //            data : JSON.stringify(categories),
                dataType: "json",
                success:function(data, textStatus, jqXHR)
                {
//                    $('#ajax-content').html(data);
                    $('#id').val(data.id);
                    $('#name').val(data.name);

                    $('#imageUrl').val(data.imageUrl);
                    $('#imageUrl').attr("disabled","disabled");
                    $('#imageUrl-image').attr("src","http://"+data.docroot+data.imageUrl);
                    $('#imageUrl-image').attr("alt","No Photo Found");
                    $('#imageUrl-image').css("width","200").css('border', '1px solid #ccc');
                    $('#image_video').val('');

                    $('.preloader').hide();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('.preloader').hide();
                }
            });
        },

        delete_category_item : function(id)
        {
            $.ajax({
                url : APP_BASE_API + "/categories/"+id,
                type: "DELETE",
                dataType: "json",
                success:function(data, textStatus, jqXHR)
                {
//                    console.debug(data);
                    nestableTreeBuilder.reload_category(false);
                    $('.preloader').hide();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('.preloader').hide();
                }
            });
        },


        reload_category : function(flg)
        {
            $.ajax({
                url : APP_BASE_API + "/categories",
                type: "GET",
                success:function(data, textStatus, jqXHR)
                {
                    if(data.length > 0){
                        nestableTree.build_tree(data, flg);
                    }

                    $('.preloader').hide();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('.preloader').hide();
                }
            });
        },
        init:function(){
            nestableTree.id = "category-dd-list";
            nestableTree.uri = "/categories/hierarchy";
            nestableTree.callback_get_funtion_name = "nestableTreeBuilder.get_category_item";
            nestableTree.callback_delete_function_name = "nestableTreeBuilder.delete_category_item";

            nestableTree.init();
            nestableTreeBuilder.build_category_form();
            this.reload_category(true);
        }
    };

    $(document).ready(function() {

        nestableTreeBuilder.init();
    });
</script>