<div class="page-header">
    <h1 id="manage_menu">
        Menu Editor
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create, Edit your menus
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-sm-8">
        <p id="info_bar" class="alert alert-info">
            <button class="btn btn-lg btn-info btn-round" onclick="load_view('/manage_menus.html');">
                <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp Reload
            </button>
            <button class="btn btn-lg btn-info btn-round" onclick="copy_category_items()">
                <i class="fa fa-clone" aria-hidden="true"></i>&nbsp Copy Category Items
            </button>
            <button class="btn btn-lg btn-info btn-white btn-round pull-right" onclick="createMenu()">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp Create New Menu
            </button>
        </p>
        <!-- <button class="btn btn-default" onclick="buildMenu.build()">Show Menu</button> -->
        <!-- <button class="btn btn-default" onclick="buildMenu.unbuild()">Hide Menu</button> -->

        <div id="menu_select"></div>

        <div id="menu-dd-list" class="dd dd-draghandle ">
            <ol class="dd-list">
            </ol>
        </div>
    </div>
    <div class="col-sm-4">
        <div id="menueditor" class="widget-box widget-color-default light-border" style="display: none">
            <div class="widget-header widget-header-small widget-header-flat">
                <b style="color: #999;">Menu Editor</b>
                <div class="widget-toolbar">
                    <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                    <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="menu_form"></div>
                </div>  <!-- WIDGET MAIN -->
            </div> <!-- WIDGET BODY -->
        </div>

        <div id="menuitemeditor" class="widget-box widget-color-default light-border" style="display: none">
            <div class="widget-header widget-header-small widget-header-flat">
            <b style="color: #999;">Menu Item Editor</b>
                <div class="widget-toolbar">
                    <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                    <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="menu_item_form"></div>
                </div>  <!-- WIDGET MAIN -->
            </div> <!-- WIDGET BODY -->
        </div>
    </div>
</div>

<script>
    var curr_total_menu_count;
    var current_selected_menu;
    var current_selected_type;
    var current_selected_caption;


    var nestableMenuBuilder = {
        roles: {"1":"Superadmin"},
        clear_menu_form : function()
        {
            $('#id').val('');
            $('#name').val('');
            $('[name="is_leaf"]').prop('checked', false);
            $('#uri').val("");
            $('#type_id').val("0");
        },

        build_menu_form : function()
        {
            $("#menu_item_form").alpaca('destroy');
            if (!current_selected_menu == 0) {
                $("#menu_item_form").alpaca({
                    "data": {
                        "menu_id": current_selected_menu
                    },
                    "schema": {
                        "title": "Menu Item Information",
                        "type": "object",
                        "properties": {
                            "id":{
                                "type": "string"
                            },
                            "menu_id":{
                                "type": "string"
                            },
                            "name": {
                                "title": "Caption",
                                "type": "string",
                                "required": true,
                                "minLength": 3,
                                "maxLength": 100,
                            },
                            "is_leaf": {
                                "title": "Is Leaf",
                                "type": "string"
                            },
                            "type_id": {
                                "title": "Type",
                                "enum": ["0", "1"],
                                "required": true
                            },
                            "uri": {
                                "title": "URI",
                                "type": "string"
                            }

                            // "menuinfo": {
                            //     "type": "object",
                            //     "properties": {
                            //         "type_id": {
                            //             "title": "Type",
                            //             "enum": ["0", "1"]
                            //         },
                            //         "uri": {
                            //             "title": "URI",
                            //             "type": "string"
                            //         }
                            //     },
                            //     "dependencies": "is_leaf"
                            // }
                        },
                        // "dependencies": {
                        //     "menuinfo": ["is_leaf"]
                        // }
                    },
                    "options": {
                        "fields": {
                            "id": {
                                "id": "id",
                                "type": "hidden",
                            },
                            "menu_id": {
                                "id": "menu_id",
                                "type": "hidden"                            
                            },
                            "name": {
                                "id": "name",
                                "helper": "Edit / Inrest Menu Name",
                                "placeholder": "Menu Name"
                            },
                            "is_leaf": {
                                "id": "is_leaf",
                                "type": "checkbox",
                                "helper": "Is this Item a sub item of another"
                            },

                            // "menuinfo": {
                            //     "fields": {
                            //         "type_id": {
                            //             "id": "type_id",
                            //             "removeDefaultNone": true,
                            //             "type": "select",
                            //             "optionLabels": ["Page", "Category"],
                            //         },
                            //         "uri": {
                            //             "id": "uri",
                            //         }
                            //     },
                            //     "dependencies": {
                            //         "is_leaf": true
                            //     }
                            // }
                            "uri": {
                                "id": "uri",
                                "disabled": true,
                                "helper": "The url of the menu item, This is auto generated"
                            },
                            "type_id": {
                                "id": "type_id",
                                "removeDefaultNone": true,
                                "type": "select",
                                "optionLabels": ["Category", "Page"],
                                "hideInitValidationError": true,
                                "showMessages": false,
                                "helper": "Select the type of this menu item"
                            },
                        },
                        "form": {
                            "attributes": {
                                "action": APP_BASE_API + "/menus",
                                "method": "POST"
                            },
                            "buttons": {
                                "submit": {
                                    "click": function() {
                                        this.refreshValidationState(true);
                                        if (!this.isValid(true)) {
                                            this.focus();
                                            return;
                                        }

                                        var value = this.getValue();

    //                                    value.roles = value.roles.join();
                                        console.debug(value);
                                        var config = {};
    //                                    config.dataType = "json";
                                        config.contentType = "application/json";
    //                                    config.processData = false;
                                        config.data = JSON.stringify(value);

                                        this.ajaxSubmit(config).done(function(data){
                                            if(data.status == "success"){
                                                gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                                nestableMenuBuilder.clear_menu_form();
                                                nestableMenuBuilder.reload_menu(false);
                                            } else {
                                                gritter(data.status, data.message, false, '1500', 'gritter-error gritter-center');
                                            }
                                        }).fail(function(){
                                                gritter("Error", "Sending Failed", false, '1500', 'gritter-error gritter-center');
                                                });
                                    }
                                },
        //                        "reset": {},
                                "new": {
                                    "title": "New",
                                    "click": function() {
                                        nestableMenuBuilder.clear_menu_form();
                                    }
                                }
                            }
                        }
                    },
                    "postRender": function(control) {
                        var is_leaf = control.childrenByPropertyId["is_leaf"];
                        var menuinfo = control.childrenByPropertyId["menuinfo"];
                        is_leaf.on("change", function() {
                            // console.log(menuinfo);
                        });

                        control.childrenByPropertyId["name"].on("change", function() {
                            // current_selected_caption = $('#name').val().toLowerCase().replace(/\s/g, "");
                            current_selected_caption = $('#name').val();
                            setURIvalue();
                        });

                        control.childrenByPropertyId["type_id"].on("change", function() {
                            var optlabel = this.getValue();
                            current_selected_type = this.options.optionLabels[optlabel].toLowerCase();
                            current_selected_caption = $('#name').val();
                            setURIvalue();
                        });
                    }
                });
            } else {
                gritter('No Menu Selection', 'You have not selected any menu. To activate this feature please select a menu from the list', false, '1500', 'gritter-danger gritter-center');
            }
        },

        get_menu_item : function(id)
        {
            $.ajax({
                url : APP_BASE_API + "/menus/"+id,
                type: "GET",
    //            data : JSON.stringify(menus),
                dataType: "json",
                success:function(data, textStatus, jqXHR){   
                   // $('#ajax-content').html(data);
                    $('#id').val(data.id);
                    $('#name').val(data.name);
                    $('#uri').val(data.uri);
                    $('#type_id').val(data.type_id);
                    $('[name="is_leaf"]').prop('checked', parseInt(data.is_leaf)?true:false);

                    

                    $('.preloader').hide();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('.preloader').hide();
                }
            });
        },

        delete_menu_item : function(id)
        {
            $.ajax({
                url : APP_BASE_API + "/menus/"+id,
                type: "DELETE",
                dataType: "json",
                success:function(data, textStatus, jqXHR)
                {
//                    console.debug(data);
                    nestableMenuBuilder.reload_menu(false);
                    $('.preloader').hide();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('.preloader').hide();
                }
            });
        },


        reload_menu : function(flg)
        {
            $.ajax({
                url : APP_BASE_API + "/menuItems/"+current_selected_menu+"/"+randomGenarator(),
                type: "GET",
                success:function(data, textStatus, jqXHR)
                {
                    if(data.length > 0){
                        nestableTree.destroy();
                        nestableTree.build_tree(data, flg);
                        // nestableMenuBuilder.build_menu_form();
                    } else {
                        gritter('Menu Empty', 'Your Selected Menu has no item in it', false, '1500', 'gritter-danger gritter-center');
                        nestableTree.destroy();
                        // nestableMenuBuilder.build_menu_form();
                    }

                    $('.preloader').hide();
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('.preloader').hide();
                }
            });
        },
        init:function(){
            nestableTree.id = "menu-dd-list";
            nestableTree.uri = "/menus/hierarchy";
            nestableTree.callback_get_funtion_name = "nestableMenuBuilder.get_menu_item";
            nestableTree.callback_delete_function_name = "nestableMenuBuilder.delete_menu_item";

            nestableTree.init();
            this.reload_menu(true);
        }
    };

    function setURIvalue(){
        $('#uri').val(current_selected_type+"/"+current_selected_caption);
    }

    function copy_category_items(){
        if (!current_selected_menu == 0){            
            bootbox.confirm("Do you want to copy all existing Categories into selected menu?", function(result) {
                if(result) {
                    bootbox.confirm("Are you absolutely sure? This can not be undone !", function(res){
                        if (res) {
                            var tmp_selection = current_selected_menu;
                            requestApi("/categories", "GET", "", copy_category_items_res);
                        }
                    });
                }
            });        
        } else {
            gritter('No Menu Selection', 'You have not selected any menu. To activate this feature please select a menu from the list', false, '1500', 'gritter-danger gritter-center');
        }
    }

    function copy_category_items_res(data){
        var rows = {
            datapack : []
        };
        data.forEach(function(row){
            var holder = new Object();
            holder.menu_id = current_selected_menu;
            holder.parent_id = row.parent_id;
            holder.name = row.name;
            holder.type_id = '2';
            holder.is_leaf = '0';
            holder.position = row.position;
            holder.uri = "category/"+row.name;
            rows.datapack.push(holder);
        });
        requestApi('/categorySaveMenu', 'POST', JSON.stringify(rows), categorySaveMenures);
    }

    function categorySaveMenures(data){
        if (data.status == "success") {
            nestableMenuBuilder.reload_menu(false);
            var count = data.count;
            gritter('Success', count+' new items have added to the menu', false, '2500', 'gritter-success gritter-center');   
        } else {
            gritter(data.status, data.message, false, '2500', 'gritter-danger gritter-center');   
        }
    }

    function createMenu(){
        $('#menueditor').css('display', 'block');
        $("#menu_form").alpaca('destroy');
        $("#menu_form").alpaca({
            "schema": {
                "title":"Create Menu",
                "type":"object",
                "properties": {
                    "id":{
                        "type": "string"
                    },
                    "menu_name": {
                        "type":"string",
                        "title":"Menu Name",
                        "required": true,
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "menu_position": {
                        "type":"string",
                        "title":"Menu Position",
                        "enum": ["0", "1"]
                    }
                }
            },
            "options": {
                "fields": {
                    "id": {
                        "id": "id",
                        "type": "hidden",
                    },
                    "menu_name": {
                        'id': 'menu_name',
                        "size": 20,
                        "helper": "Please enter Menu name.",
                        "placeholder": "Enter Menu name"
                    },
                    "menu_position": {
                        'id': 'menu_position',
                        "type": "select",
                        "optionLabels": ["Header", "Footer"],
                        "helper": "Please select Menu Position",
                        "placeholder": "Menu Position"
                    }
                },
                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/saveMenu",
                        "method": "POST"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }

                                var value = this.getValue();
                                console.debug(value);
                                var config = {};
                                config.contentType = "application/json";
                                config.data = JSON.stringify(value);

                                this.ajaxSubmit(config).done(function(data){
                                    gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                    reloadTree();
                                }).fail(function(){
                                    gritter(data.status, data.message, false, '3000', 'gritter-error gritter-center');
                                        });
                            }
                        }
                    }
                }
            }
            
        });
    }

    function editMenu(){
        $("#menu_form").alpaca('destroy');
        $("#menu_form").alpaca({
            "dataSource": APP_BASE_API + "/getMainMenu/" + current_selected_menu + "/" + randomGenarator(),
            "schema": {
                "title":"Edit Menu",
                "type":"object",
                "properties": {
                    "id":{
                        "type": "string"
                    },
                    "menu_name": {
                        "type":"string",
                        "title":"Menu Name",
                        "minLength": 3,
                        "maxLength": 100,
                    },
                    "menu_position": {
                        "type":"string",
                        "title":"Menu Position",
                        "enum": ["0", "1"]
                    }
                }
            },
            "options": {
                "fields": {
                    "id": {
                        "id": "id",
                        "type": "hidden",
                    },
                    "menu_name": {
                        'id': 'menu_name',
                        "size": 20,
                        "helper": "Edit Menu name.",
                        "placeholder": "Menu name"
                    },
                    "menu_position": {
                        'id': 'menu_position',
                        "type": "select",
                        "optionLabels": ["Header", "Footer"],
                        "helper": "Please select Menu Position"
                    }
                },
                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/saveMenu",
                        "method": "POST"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }

                                var value = this.getValue();
                                console.debug(value);
                                var config = {};
                                config.contentType = "application/json";
                                config.data = JSON.stringify(value);

                                this.ajaxSubmit(config).done(function(data){
                                    gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                }).fail(function(){
                                    gritter(data.status, data.message, false, '3000', 'gritter-error gritter-center');
                                        });
                            }
                        },
                        "new": {
                            "title": "Create New",
                            "click": function() {
                                bootbox.confirm("Create New Menu?", function(result) {
                                    if(result) {
                                        $("#menu_form").alpaca('destroy');
                                        createMenu();
                                    }
                                });
                            }
                        },
                        "delete": {
                            "title": "Delete Menu",
                            "click": function() {
                                deleteMenu();
                            }
                        }
                    }
                }
            }
            
        });
    }

    function reloadTree(){
        $("#menu_select").html('');
        menuListInit();
    }

    function deleteMenu(){
        if(current_selected_menu == null){

        } else {
            bootbox.confirm("Sure to Delete this Menu?", function(result) {
                if(result) {
                    requestApi('/mainMenus/'+current_selected_menu, "DELETE", '', mainMenuDeleteresponse);
                }
            });
        }
    }

    function mainMenuDeleteresponse(data){
        reloadTree();
        gritter(data.status, data.message, false, '3000', 'gritter-success gritter-center');
    }

    function menuListInit(){
        var menuList = {};
        $("#menu_select").alpaca({
            "options": {
                "removeDefaultNone": false,
                "noneLabel": "-- Choose Menu --",
                "helper": "Select any menu from this menu list to edit or delete that menu",
                "dataSource": function(callback) {
                    $.ajax({
                        url : APP_BASE_API + "/menuList",
                        type: "GET",
                        success:function(data, textStatus, jqXHR){
                            curr_total_menu_count = data.length;
                            if(data.length > 0){
                                for (var i = 0; i < data.length; i++) {
                                    menuList[data[i].menu_name.toUpperCase()] = data[i].id;
                                }
                                //console.log(menuList);
                                var listdata = JSON.stringify(menuList);
                                callback(menuList);
                            } else {
                                bootbox.confirm("You have no Menu saved. Create one?", function(result) {
                                    if(result) {
                                        createMenu();
                                    }
                                });
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            curr_total_menu_count = 0;
                        }
                    });
                },
                "label": "Currently you have "+curr_total_menu_count+" Menus",
                "type": "select",
                "events": {
                    "change": function(event) {
                        $('#menueditor').css('display', 'block');
                        $('#menuitemeditor').css('display', 'block');
                        current_selected_menu = this.getValue();
                        console.log(current_selected_menu);
                        nestableMenuBuilder.init();
                        editMenu();
                        nestableMenuBuilder.build_menu_form();
                        nestableMenuBuilder.reload_menu(false);
                        // nestableMenuBuilder.build_menu_form();
                    }
                }
            }
        });
    }

    $(document).ready(function() {
        menuListInit();
        current_selected_menu = 0;
    });
</script>