<div class="page-header">
    <h1 id="sales_report">
        Online Order Details
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            <i id="order_header"></i>
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/online_deliveries.html')">Back to Order List</button>
</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-nd-12 table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td><strong>Customer Name</strong></td>
                    <td id="customer_name">Shazzadur Rahaman</td>
                </tr>
                <tr>
                    <td><strong>Delivery Address</strong></td>
                    <td id="delivery_address">uttara</td>
                </tr>
                <tr>
                    <td><strong>Delivery Email</strong></td>
                    <td id="delivery_email">shazzad@kiteplexit.com</td>
                </tr>
                <tr>
                    <td><strong>Delivery Phonenumber</strong></td>
                    <td id="delivery_phonenumber">01741228971</td>
                </tr>
                <tr>
                    <td><strong>Order Commit Date</strong></td>
                    <td id="created_at">20152016</td>
                </tr>
                <tr>
                    <td><strong>Total Quantity</strong></td>
                    <td id="total_qty">20</td>
                </tr>
                <tr>
                    <td><strong>Total Discount</strong></td>
                    <td id="total_discount">50%</td>
                </tr>
                <tr>
                    <td><strong>Net Total</strong></td>
                    <td id="net_total">200</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td id="total">200</td>
                </tr>
                <tr>
                    <td><strong>Invoice Number</strong></td>
                    <td id="invoice_number">1ajjgfj60+55</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="Order_details"></div>

<script>
    $.ajax({
        url : currentDataUrl,
        type: "GET",
        success:function(data, textStatus, jqXHR){
            onlinedetail_response(data);
        },
        error: function(jqXHR, textStatus, errorThrown){
            gritter('Server Error', 'Server is currently Offline', false, '1500', 'gritter-error, gritter-center');
        }
    });

    function onlinedetail_response(data){
        $('#order_header').html("Order Opened - "+data.delivery_email);

        $('#customer_name').html(data.customer_name);
        $('#delivery_address').html(data.delivery_address);
        $('#delivery_email').html(data.delivery_email);
        $('#delivery_phonenumber').html(data.delivery_phonenumber);
        $('#created_at').html(data.created_at);
        $('#total_qty').html(data.total_qty);
        $('#total_discount').html(data.total_discount_id);
        $('#net_total').html(data.net_total);
        $('#total').html(data.total);
        $('#invoice_number').html(data.invoice_number);
    }

    $.alpaca.Fields.Custom1Field = $.alpaca.Fields.TextField.extend({
        getFieldType: function() {
            return "isActive";
        },
        setValue: function(val) {
            var value = val.split(" ");
            if (value == '0') {
                this.base("Order Pending");
            } else if(value == '1'){
                this.base("Order Delivered");
            } else if(value == '2'){
                this.base("Order Canceled");
            }
        }
    });
    Alpaca.registerFieldClass("isActive", Alpaca.Fields.Custom1Field);

    $("#Order_details").alpaca({
        "dataSource": currentDataUrl,
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string",
                },
//                "customer_name": {
//                    "title": "Customer Name",
//                    "type": "string"
//                },
//                "delivery_address": {
//                    "title": "Delivery Address",
//                    "type": "string"
//                },
//                "delivery_email": {
//                    "title": "Delivery Email",
//                    "type": "string"
//                },
//                "delivery_phonenumber": {
//                    "title": "Delivery Phonenumber",
//                    "type": "string"
//                },
//                "created_at": {
//                    "title": "Createt At",
//                    "type": "string"
//                },
//                "total_qty": {
//                    "title": "Total Quantity",
//                    "type": "string"
//                },
//                "total_discount_id": {
//                    "title": "Total Discount",
//                    "type": "string"
//                },
//                "net_total": {
//                    "title": "Net Total",
//                    "type": "string"
//                },
//                "total": {
//                    "title": "Total",
//                    "type": "string"
//                },
//                "invoice_number": {
//                    "title": "Invoice Number",
//                    "type": "string"
//                },
                "delivery_status": {
                    "type": "string",
                },
                "status_change": {
                    "title": "Change Order Status",
                    "enum": ["0", "1", "2"],
                    "required": true
                },
            }
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
//                "customer_name": {
//                    "disabled": true
//                },
//                "delivery_address": {
//                    "disabled": true
//                },
//                "delivery_email": {
//                    "disabled": true
//                },
//                "delivery_phonenumber": {
//                    "disabled": true
//                },
//                "created_at": {
//                    "disabled": true
//                },
//                "total_qty": {
//                    "disabled": true
//                },
//                "total_discount_id": {
//                    "disabled": true
//                },
//                "net_total": {
//                    "disabled": true
//                },
//                "total": {
//                    "disabled": true
//                },
//                "invoice_number": {
//                    "disabled": true
//                },
                "delivery_status": {
                    "type": "isActive",
                    "helper": "The Status of this user.. Change the status below",
                    "disabled": true
                },
                "status_change": {
                    "type": "select",
                    "optionLabels": ["Order Pending", "Order Delivered", "Order Canceled"],
                    "noneLabel": "-- Select --",
                    "removeDefaultNone": false
                },
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/online_order_details",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(data){
                                if(data.status == "success"){
                                    gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                    fetchPendingdeliveries(0);
                                    load_view('/online_deliveries.html');
                                } else {
//                                    fetchPendingdeliveries(0);
                                    gritter(data.status, data.message, false, '3500', 'gritter-error gritter-center');
                                }
                            }).fail(function(){
                                gritter("Error", "Sending Failed", false, '3500', 'gritter-error gritter-center');
                            });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>