<div class="page-header">
    <h1 id="sales_report">
        Online Orders
        <small>
             <!--<i class="ace-icon fa fa-angle-double-right"></i>-->
        </small>
    </h1>
</div><!-- /.page-header -->

<!-- <p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/discount_category_new.html')">Add New Discount Category</button>
</p> -->

<table id="grid-data"></table>

<script>
    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/deliveryStatus",
        responseHandler: data_grid_response,
        method: 'POST',
        search: false,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 20,
        pageList: [20, 25, 50, 100],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'customer_name',
            title: 'Customer Name'
        }, {
            field: 'delivery_phonenumber',
            title: 'Customer Phone No'
        }, {
            field: 'total_qty',
            title: 'Total Quantity'
        }, {
            field: 'invoice_number',
            title: 'Invoice No'
        }, {
            field: 'created_at',
            title: 'Order Time'
        }, {
            field: 'delivery_status',
            title: 'Status',
            cellStyle: statusCellstyle,
            formatter: deliveryCommandFormatter,
        }, {
            field: 'commands',
            title: 'Details',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".order_details").on("click", function(e){
            load_view_n_data("/online_deliveries_details.html","/delivery/" + $(this).attr('uniqueId') + "/" + randomGenarator());
        });
    });

    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info order_details" uniqueId="'+ row.id +'"> <span class="fa fa-plus"></span> </button>';
    }

    function deliveryCommandFormatter(value, row, index){
        if(value == 0){
            return 'Order Pending';
        } else if(value == 1){
            return 'Order Delivered';
        } else if(value == 2){
            return 'Order Canceled';
        }
    }

    function statusCellstyle(value, row, index, field){
        if(value == 0){
            return { css: {"background": "orange"} };
        } else if(value == 1){
            return { css: {"background": "#dbffd7"} };
        } else if(value == 2){
            return { css: {"background": "#fb9999"} };
        }
    }

</script>