<div class="page-header">
    <h1 id="category_name">
        Sales Return
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Order Returned
        </small>
    </h1>
</div><!-- /.page-header -->

<table id="grid-data" data-height="500"></table>

<script>
    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/sales",
        responseHandler: data_grid_response,
        method: 'POST',
        search: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 5,
        pageList: [5, 10, 25, 50, 100],
        showRefresh: true,
        showColumns: true,
        buttonsClass: 'info',
        columns: [{
            field: 'invoice_number',
            title: 'Invoice Number'
        }, {
            field: 'total_qty',
            title: 'Total Quantity'
        }, {
            field: 'total_vat',
            title: 'Vat'
        }, {
            field: 'net_total',
            title: 'Net Total'
        }, {
            field: 'category_discount',
            title: 'Category Discount'
        }, {
            field: 'total',
            title: 'Total'
        }]
    }).on('load-success.bs.table', function (data) {
        
    });
</script>