<div class="page-header">
    <h1 id="page_manager">
        Page Management
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Here all your pages are showed
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/pages_new.html')">Add New Page</button>
</p>

<table id="grid-data" data-height="700"></table>

<script>
    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/pages",
        responseHandler: data_grid_response,
        method: 'POST',
        search: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 10,
        pageList: [10, 25, 50, 100],
        showRefresh: true,
        showColumns: true,
        buttonsClass: 'info',
        columns: [{
            field: 'id',
            title: 'ID'
        }, {
            field: 'name',
            title: 'Page Name'
        },{
            field: 'title',
            title: 'Page Title'
        }, {
            field: 'created_at',
            title: 'Created At'
        }, {
            field: 'commands',
            title: 'Commands',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){            
            load_view_n_data("/pages_edit.html","/pages/" + $(this).attr('uniqueId') + "/" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            delete_archive( $(this).attr('uniqueId'),function(data){
                $("#grid-data").bootstrapTable("refresh");
            }, 'pages' );
        });
    });


    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
               '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>';
    }

    function footeradddone(data){
        alert(data.message);
    }

</script>