<h1>Page Create</h1>
<button class="btn btn-default" onclick="load_view('/page_management.html')">Back</button>

<div id="Page-CREATE"></div>


<script>
console.log(currentDataUrl);
    $("#Page-CREATE").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "name": {
                    "title": "Page Name",
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 100,
                },
                "title": {
                    "title": "Page Title",
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 100,
                },
                "content": {
                    "title": "content",
                    "type": "text"
                },
            }
        },
        "options": {

            "fields": {
                "name": {
                    "id": "name",
                    "helper": "Give a Page Name (Without Space)",
                },
                "title": {
                    "id": "title",
                    "helper": "Give a Page Title",
                },
                "content": {
                    "id": "content",
                    "type": "ckeditor",
                    "helper": "Edit the Page Content",
                }
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/pageChange",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(){
                                load_view('/page_management.html');
                            }).fail(function(){
                                   console.warn('Failed to save');
                                    });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>