<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			<div class="page-header" style="padding: 30px; background-color: #eee;">
				<h1>Inventory Count Completed
					<small>Count Name</small>
					<small>Count Type</small>
					<small>show details</small>
				</h1>
			</div>

			<div class="container" style="margin-top: 25px; margin-bottom: 50px;">
				<div class="row">
					<div class="col-md-12">
						<div class="tabbable">
							<ul id="counting_perform" class="nav nav-tabs tab-color-blue tab-color-blue background-blue tab-space-4 tab-size-bigger padding-32">
								<li>
									<a href="#unmatched" data-toggle="tab">Unmatched</a>
								</li>
								<li>
									<a href="#matched" data-toggle="tab">Matched</a>
								</li>
								<li>
									<a href="#all" data-toggle="tab">All</a>
								</li>
							</ul>
							<div class="tab-content padding-32">
								<div class="tab-pane" id="unmatched">
									<table id="grid-count-complete"></table>
								</div>								
								<div class="tab-pane" id="matched">
									<table id="grid-all-review_matched"></table>
								</div>
								<div class="tab-pane in active" id="all">
									<table id="grid-review_all"></table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer_inventory footer_background">
	<div class="panel panel-default footer_background">
		<div class="panel-body footer_background">
				<button type="button" class="btn btn-default btn-lg btn-border" style="left: 60%;">Generate PDF</button>
				<button type="button" class="btn btn-success btn-lg btn-border" style="left: 60%;">Generate CSV</button>
				<button type="button" class="btn btn-danger btn-lg btn-border" style="left: -20%;" onclick="load_view('/product_inventory_count.html')">Back to Landing Screen</button>
		</div>
	</div>
</div>


<script type="text/javascript">
	var grid_uncounted = $('#grid-count-complete').bootstrapTable({
        url: APP_BASE_API + "/categories",
        method: 'POST',
        search: false,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 10,
        pageList: [10, 25, 50, 100],
        showRefresh: true,
        showColumns: true,
        buttonsClass: 'info',
        columns: [{
            field: 'name',
            title: 'COUNT LIST'
        }, {
            field: 'inventory_count',
            title: 'Inventory Count',
            searchable: false
        }, {
            field: 'differences',
            title: 'Differences',
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
    });

</script>