<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			<div class="page-header" style="padding: 30px; background-color: #eee;">
				<h1> Create New Inventory Count </h1>
			</div>

			<form id="inventory_new_create">
	
			<div class="widget-box widget-color-default light-border">
				<div class="widget-header widget-header-small widget-header-flat">
					<!-- BREADCRUMB -->
					<ol class="breadcrumb">
						<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_list.html')">Products</a></li>
						<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_inventory_list.html')"> Stock Control </a></li>
						<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_inventory_count.html')">Product inventory Count </a></li>
						<li class="active" onclick="load_view('/product_inventory_count_create_new.html')">New Inventory Count</li>
					</ol>
					<!-- BREADCRUMB <-->

					<div class="widget-toolbar">
						<a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
						<a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
						<a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main">
						<div class="container" style="margin-top: 50px;">
							<div class="row">
								<div class="col-md-4">
									<fieldset class="form-group">
										<label for="inventory_create_new-outlet">Outlet</label>
										<select class="form-control" id="inventory_create_new-outlet">
											<option outletid="3">Main outlet</option>
									    </select>
										<small class="text-muted">Outlet option where the counting is commiting</small>
									</fieldset>
								</div>
								<div class="col-md-4">
									<label for="inventory_create_new-start_date">Start Date Time</label>
					                <div class='input-group date' id='datetimepicker1'>
					                    <input type='text' class="form-control" id="inventory_create_new-start_date"/>
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
					                </div>
					                <small class="text-muted">Commiting Date</small>
								</div>
								<div class="col-md-4">
									<fieldset class="form-group">
										<label for="inventory_create_new-start_time">Count Name</label>
										<input type="text" class="form-control" id="inventory_create_new-count_name" placeholder="Count Name">
										<small class="text-muted">Name for the Starting Count</small>
									</fieldset>
								</div>
							</div>				
						</div>		
					</div>	<!-- WIDGET MAIN -->

					<div class="widget-toolbox padding-8 clearfix">
						<button class="btn btn-xs btn-danger pull-left" onclick="load_view('/product_inventory_count.html')">
							<i class="ace-icon fa fa-arrow-left"></i>
							<span class="bigger-110">CANCEL</span>
						</button>

						<button id="inventory_new_create-submit" class="btn btn-xs btn-success pull-right">
							<span class="bigger-110">START</span>

							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
						</button>

						<button class="btn btn-xs btn-gray pull-right" onclick="savecurrCount();">
							<span class="bigger-110">SAVE</span>

							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
						</button>
					</div>

				</div> <!-- WIDGET BODY -->
			</div>

			<!-- <div class="footer_inventory footer_background">
				<div class="panel panel-default footer_background">
					<div class="panel-body footer_background">
						<div class="container">
							<button type="button" class="btn btn-default btn-lg btn-border" style="left: 75%;">Save</button>
							<button id="inventory_new_create-submit" type="button" class="btn btn-info btn-lg btn-border" style="left: 75%;">Start</button>
							<button type="button" class="btn btn-danger btn-lg btn-border" style="left: 0;">Cancel</button>
						</div>
					</div>
				</div>
			</div> -->
			</form>
		</div>
	</div>
</div>



<script type="text/javascript">
	var dateNow = new Date();
	var formData = new Object;

	$(function () {
		breadCrumb();
		requestApi('/outlet', 'GET', '', loadOutletData);
		inventoryCountNewInit();

		// requestApi('/categories', 'GET', '', categoryListLoad);
    });

    // function categoryListLoad(data){
    // 	console.log(data);
    // }

    function inventoryCountNewInit() {
    	$('#inventory_create_new-outlet').change(function(){
			$('#inventory_create_new-count_name').val($(this).val()+' '+$('#inventory_create_new-start_date').val());	
		});

        $('#datetimepicker1').datetimepicker({
        	viewMode: 'months',
        	// format: moment().format("YYYY-MM-DD"),
        	defaultDate:dateNow,
        	sideBySide: true,
        	calendarWeeks: false,
        	allowInputToggle: true,
        	showTodayButton: true,
        	showClear: true
        });
    }

	function loadOutletData(data){
		var node = $('#inventory_create_new-outlet');
		populatedropdown(node, data.rows, 'outletid');
		// for (var i = 0; i < data.rows.length; i++) {
		// 	$('#inventory_create_new-outlet').append('<option outletid="'+data.rows[i].id+'">'+data.rows[i].name+'</option>');
		// }
	}

	function savecurrCount(){
		
	}

	function initiateCount(){
		requestApi('/initiateCount', 'POST', JSON.stringify(formData), createInventoryResponse);
	}

	$('#inventory_new_create-submit').click(function(){
		var selectedOutletId = $('#inventory_create_new-outlet').find("option:selected").attr('outletid');
		var outletName = $('#inventory_create_new-outlet').val();
		var count_start_date = $('#inventory_create_new-start_date').val();
		var count_name = $('#inventory_create_new-count_name').val();

		formData.selectedOutletId = selectedOutletId;
		formData.outletName = outletName;
		formData.count_start_date = count_start_date;  //2016-07-30 14:43:11
		formData.count_name = count_name;

		initiateCount();
		// console.log(formData);
	});

	function createInventoryResponse(data){
		if (data.status == 'success') {
			gritter("COUNT INITIATED", "Your Counting Has Initiated Successfully", false, '2000', 'gritter-success gritter-center');
			console.log(data.countID);
			curr_count_id = data.countID;
			curr_count_name = formData.count_name;
			load_view('/product_inventory_count_perform.html');
		} else {
			gritter("COUNT INITIATION ERROR", "Count Initiation error occured. Please try again Later", false, '5000', 'gritter-error gritter-center');
		}
	}
</script>