<div class="page-header">
    <h1 id="category_name">
        Manage Product Inventory
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Manage Your Inventory &amp; Items
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-info">
    <button class="btn btn-lg btn-info btn-white btn-round" onclick="load_view('/product_inventory_order.html')" disabled="true">
    <i class="fa fa-cart-plus" aria-hidden="true"></i>Order Stock</button>
    <button class="btn btn-lg btn-info btn-white btn-round" onclick="load_view('/product_inventory_return.html')" disabled="true">
    <i class="ace-icon fa fa-trash-o"></i>Return Stock</button>
    <button class="btn btn-lg btn-info btn-white btn-round" onclick="load_view('/product_inventory_transfer.html')" disabled="true">
    <i class="fa fa-rocket" aria-hidden="true"></i>Transfer Stock</button>
    <button class="btn btn-lg btn-info btn-white btn-round" onclick="load_view('/product_inventory_count.html')">
    <i class="fa fa-bar-chart" aria-hidden="true"></i>Inventory Count</button>
</p>

<table id="grid-data" data-height="500"></table>

<script>
    var $grid = $('#grid-data').bootstrapTable({
        responseHandler: data_grid_response,
        url: APP_BASE_API + "/products",
        method: 'POST',
        search: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 10,
        pageList: [10, 25, 50, 100],
        showRefresh: true,
        showColumns: true,
        buttonsClass: 'info',
        columns: [{
            field: 'product_name',
            title: 'Product Name'
        }, {
            field: 'category',
            title: 'Category'
        }, {
            field: 'color',
            title: 'Color'
        }, {
            field: 'size',
            title: 'Size'
        }, {
            field: 'style_no',
            title: 'Style no'
        }, {
            field: 'selling_price',
            title: 'Selling Price'
        }, {
            field: 'quantity',
            title: 'Current Stock Quantity'
        }, {
            field: 'commands',
            title: 'Stock Control',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        $grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/product_inventory_edit.html","/product/" + $(this).attr('uniqueId') + "/" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            delete_archive( $(this).attr('uniqueId'), function(data){
                gridRefresh();
            }, 'products' );
        });
    });

    function commandFormatter(value, row, index) {
        return '<button class="btn btn-success command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>';
    }

</script>