<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			<div class="page-header" style="padding: 30px; background-color: #eee;">
				<h1>Perform Inventory Count
					<small id="header_count_name"></small>
					<small id="header_count_type"></small>
					<small id="header_count_id"></small>
				</h1>
			</div>

			<div class="widget-box widget-color-default light-border">
				<div class="widget-header widget-header-small widget-header-flat">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_list.html')">Products</a></li>
						<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_inventory_list.html')"> Stock Control </a></li>
						<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_inventory_count.html')">Product inventory Count </a></li>
						<!-- <li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_inventory_count_create_new.html')">New Inventory Count </a></li> -->
						<li class="active" onclick="load_view('/product_inventory_count_perform.html')">Perform Inventory Count</li>
					</ol>
					<!-- Breadcrumb -->
					<div class="widget-toolbar">
						<a data-action="settings" href="#"><i class="ace-icon fa fa-bars"></i></a>
						<a data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
						<a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
						<a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
						<a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">
						
						<div class="container-fluid" style="margin-top: 25px;">
							<!-- <div class="row">
								<div class="col-md-6">
									<fieldset class="form-group">
										<label for="inventory_create_new-category">Category</label>
										<select class="form-control" id="inventory_create_new-category">
											<option>category 1</option>
											<option>category 1</option>
											<option>category 1</option>
											<option>category 1</option>
											<option>category 1</option>
									    </select>
										<small class="text-muted">Select Category for initiating the count</small>
									</fieldset>
								</div>
							</div> -->
							<div class="row">
								<div class="col-md-3">
									<fieldset class="form-group">
										<label for="inventory_create_new-category">Category</label>
										<select class="form-control" id="inventory_create_new-category"></select>
										<small class="text-muted">Select Category for initiating the count</small>
									</fieldset>
								</div>
								<div class="col-md-3">
									<fieldset class="form-group">
										<label for="inventory_create_new-style">Style</label>
										<select class="form-control" id="inventory_create_new-style"></select>
										<small class="text-muted">Select Style for initiating the count</small>
									</fieldset>
								</div>
								<div class="col-md-3">
									 <fieldset class="form-group">
										<label for="inventory_create_new-color">Color</label>
										<select class="form-control" id="inventory_create_new-color"></select>
										<small class="text-muted">Select Color for initiating the count</small>
									</fieldset>
								</div>
								<div class="col-md-3">
									 <fieldset class="form-group">
										<label for="inventory_create_new-size">Size</label>
										<select class="form-control" id="inventory_create_new-size"></select>
										<small class="text-muted">Select Size for initiating the count</small>
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<button id="inventory_count_button" type="button" class="btn btn-default btn-border" style="width:80%;"><strong>Count</strong></button>
								</div>
								<div class="col-md-6">
									<button id="showExpectedbtn" type="button" class="btn btn-default btn-border" style="width:80%;"><strong>Show Expected</strong></button>
								</div>
							</div>
						</div>
						<div class="container-fluid" style="margin-top: 25px; margin-bottom: 50px;">
							<div class="row">
								<div class="col-md-12">
									<div class="tabbable">
										<ul id="counting_perform" class="nav nav-tabs tab-color-blue tab-color-blue background-blue tab-space-4 tab-size-bigger padding-32">
											<li class="active">
												<a href="#all" data-toggle="tab">All</a>
											</li>
											<li>
												<a href="#counted" data-toggle="tab">Counted</a>
											</li>
											<li>
												<a href="#uncounted" data-toggle="tab">Uncounted</a>
											</li>
										</ul>
										<div class="tab-content padding-32">
											<div class="tab-pane in active" id="all">
												<table id="inventory_count_table" class="table table-hover table-borderless">
													<thead>
														<tr>												
															<th>Product</th>
															<th>Expected</th>
															<th>Counted</th>
															<th>Difference</th>
														</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>
											<div class="tab-pane" id="counted">									
											</div>
											<div class="tab-pane" id="uncounted">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	<!-- widget Main -->

					<div class="widget-toolbox padding-8 clearfix">
						<button class="btn btn-xs btn-danger pull-left" onclick="load_view('/product_inventory_count.html')">
							<i class="ace-icon fa fa-arrow-left"></i>
							<span class="bigger-110">Back to Previous</span>
						</button>

						<button class="btn btn-xs btn-success pull-right" onclick="load_view('/product_inventory_count_review.html')">
							<span class="bigger-110">REVIEW COUNT</span>

							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
						</button>

						<button class="btn btn-xs btn-success pull-right" onclick="pause_curr_count();">
							<span class="bigger-110">PAUSE COUNT</span>

							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
						</button>
					</div>

				</div> <!-- widget Body -->
			</div>  <!-- widget Box -->

			
		</div>
		<!-- <div class="col-md-2">
			<span>
				<div class="panel panel-default">
					<div class="panel-body">
						Your last counted items 
					</div>
				</div>
				<ul class="list-group list-group-flush product_count_last_count">
					<li class="list-group-item">shirt</li>
					<li class="list-group-item">pant</li>
					<li class="list-group-item">shari</li>
					<li class="list-group-item">shirt</li>
					<li class="list-group-item">pant</li>
					<li class="list-group-item">shari</li>
				</ul>
			</span>
		</div> -->
	</div>
</div>
<!-- <div class="footer_inventory footer_background">
	<div class="panel panel-default footer_background">
		<div class="panel-body footer_background">
				<button type="button" class="btn btn-default btn-lg btn-border" style="left: 75%;" onclick="pause_curr_count();">Pause Count</button>
				<button type="button" class="btn btn-success btn-lg btn-border" style="left: 75%;" onclick="load_view('/product_inventory_count_review.html')">Review Count</button>
		</div>
	</div>
</div> -->


<script type="text/javascript">
	$(document).on({
        ajaxStart: function() { $body.removeClass("loading");    },
        ajaxStop: function() { $body.removeClass("loading"); }    
    });

	var exicuting_count = curr_count_id;
	var countTableLoadData = new Object;

	var categoryNode = $('#inventory_create_new-category');
	var styleNode = $('#inventory_create_new-style');
	var colorNode = $('#inventory_create_new-color');
	var sizeNode = $('#inventory_create_new-size');
	var alltableNode = $('#inventory_count_table');
	
	var countbtnNode = $('#inventory_count_button');
	
	var tableRowCount = 0;
	var currentSelectedRow;

	jQuery.fn.extend({
	    disable: function(state) {
	        return this.each(function() {
	            this.disabled = state;
	        });
	    }
	});

	$(function () {
		requestApi('/getInventoryCountData/'+exicuting_count, 'GET', '', inventoryCountResponse);

		breadCrumb();
		housekeeping();
		disabl_ShowExpected_btn();
		// disable_count_btn();
		requestApi('/categories', 'GET', '', loadCategoryList);
		requestApi('/styles', 'GET', '', loadStylesList);
		// requestApi('/colors', 'GET', '', loadColorList);
		// requestApi('/sizes', 'GET', '', loadSizesList);

		styleChangeProcess();
		colorChangeProcess();
		getExpectedCount();

		tableRowSelector(alltableNode, 'clickable_row');

		countbtnNode.click(function(event){
			if(currentSelectedRow == ''){
				gritter("Error", "NO ROW SELECTED. SELECT A ROW TO COUNT", false, '3000', 'gritter-error gritter-center');
			} else {
				var current_count = getCurrent_Count(alltableNode);
				current_count++;
				var current_diff = current_count - getCurrent_Expected(alltableNode);
				console.log(current_diff);
				alltableNode.find('#'+currentSelectedRow).find('.counted').text(current_count);
				alltableNode.find('#'+currentSelectedRow).find('.difference').text(current_diff);
				getRowData();
			}
		});
    });

    function getRowData(){
    	var c_count = getCurrent_Count(alltableNode);
    	var c_inventory = getCurrent_Expected(alltableNode);
    	var c_difference = c_count - c_inventory;
    	// var time = new Date($.now());

    	var inv_add_row_data = {
    			'item_name':getCurrent_CountItemName(alltableNode),
				'stock_counting_id':exicuting_count,
				'item_id':getCurrent_ItemID(alltableNode),
				'inventory_quantity':c_inventory,
				'stock_count':c_count,
				'difference':c_difference
				// 'created':time
			};
		requestApi('/inventoryAdd', 'POST', JSON.stringify(inv_add_row_data), rowUpdateResponse);
		// console.log(JSON.stringify(inv_add_row_data));
    }

    function rowUpdateResponse(data){
    	if (data.status == 'success') {
    		console.log(data.message);
    	} else {
    		gritter("Error", data.message, false, '2500', 'gritter-error gritter-center');
    	}
    }

    function inventoryCountResponse(data){
    	if (data[0] == null) {
    		//INITIATE THE NEW COUNT AND SAVE IT
    		console.log("This is a new Count");
    	} else {
    		// LOAD THE DATABASE DATA

    		for (var i = 0; i < data.length; i++) {
    			countTableLoadData.item_name = data[i].item_name;
	    		countTableLoadData.item_id = data[i].item_id;
	    		countTableLoadData.stock_count = data[i].stock_count;
	    		countTableLoadData.inventory_quantity = data[i].inventory_quantity;
	    		countTableLoadData.difference = data[i].difference;

    			renderTablesRow();
    		}
    	}
    }

    function getCurrent_CountItemName(tablenode){
    	return tablenode.find('#'+currentSelectedRow).find('.item_name').text();
    }
    function getCurrent_Count(tablenode){
    	return parseInt(tablenode.find('#'+currentSelectedRow).find('.counted').text());
    }
    function getCurrent_Expected(tablenode){
    	return parseInt(tablenode.find('#'+currentSelectedRow).find('.expected').text());
    }
    function getCurrent_ItemName(tablenode){
    	return tablenode.find('#'+currentSelectedRow).find('.item_name').text();
    }
    function getCurrent_ItemID(tablenode){
    	return tablenode.find('#'+currentSelectedRow).find('.item_id').text();
    }


    function tableRowSelector(node, className){
    	node.on('click', '.'+className, function(event){
    		// console.log($(this).attr('id'));
			if($(this).hasClass('active')){
				$(this).removeClass('active');
				currentSelectedRow = '';
			} else {
				$(this).addClass('active').siblings().removeClass('active');
				currentSelectedRow = $(this).attr('id');
			}
		});
    }

    function getExpectedCount(){
    	$('#showExpectedbtn').click(function(){
			var invExpt_Data = {
				'category_id':getSelectedCategory(),
				'style_no':getSelectedStyle(),
				'color':getSelectedColor(),
				'size':getSelectedSize()
			};
			requestApi('/inventory_expected', 'POST', JSON.stringify(invExpt_Data), getExpectedCountResponse);
		});
    }

    function renderTablesRow(){
    	tableRowCount++;
    	alltableNode.append('<tr id="appendedrow'+tableRowCount+'" class="clickable_row">' +
								'<td class="item_id" hidden>'+countTableLoadData.item_id+'</td>' +
    							'<td class="item_name">'+ countTableLoadData.item_name +'</td>' +
    							'<td class="expected">'+countTableLoadData.inventory_quantity+'</td>' +
    							'<td class="counted">'+countTableLoadData.stock_count+'</td>' +
    							'<td class="difference">'+countTableLoadData.difference+'</td> </tr>'
							);
    }

    function appendinAllTable(edata){
    	tableRowCount++;
    	var item_id = edata[0].id;
    	var item_name = edata[0].item_name;
    	var counted = edata[0].quantity;
    	var cur_diff = counted - getCurrent_Count(alltableNode);
    	alltableNode.append('<tr id="appendedrow'+tableRowCount+'" class="clickable_row"> <td class="item_id" hidden>'+item_id+'</td> <td class="item_name">'+ item_name +'</td> <td class="expected">'+counted+'</td> <td class="counted">0</td> <td class="difference">0</td> </tr>');
    }

    function getExpectedCountResponse(data){
    	// console.log(data[0].item_name);
    	appendinAllTable(data);
    	disabl_ShowExpected_btn();
    }

	function getColorNodeSize(){
		return $('#inventory_create_new-color option').size();
	}

	function getStyleNodeSize(){
		return $('#inventory_create_new-style option').size();
	}

    function housekeeping(){
		$('#header_count_name').html(curr_count_name);
		$('#header_count_id').html("count ID: "+curr_count_id);
    }

    function pause_curr_count(){
    	var pauseData = new Object;
		pauseData.id = exicuting_count;
		pauseData.taskflg = 'p';
		pause_resume_count(pauseData);
    }

    function pause_resume_count(data){
    	requestApi('/countStatus', 'POST', JSON.stringify(data), pause_curr_count_response);
    }

    function pause_curr_count_response(data){
    	if (data.status == 'success') {
    		gritter("COUNT PAUSED", "Count with ID: "+exicuting_count+" has successfully paused", false, '2000', 'gritter-success gritter-center');

    		load_view('/product_inventory_count.html');
    	} else {
    		console.log(data.message);
    	}
    }

    function disabl_ShowExpected_btn(){
    	$('#showExpectedbtn').disable(true);
    }
    function enable_ShowExpected_btn(){
    	$('#showExpectedbtn').disable(false);
    }

    function disable_count_btn(){
    	countbtnNode.disable(true);
    }
    function enable_count_btn(){
    	countbtnNode.disable(false);
    }

    function getSelectedCategory(){
		var scat = categoryNode.find("option:selected").attr('countperformcategory');
		if (scat == undefined) { scat = '';}
    	return scat;
    }

    function getSelectedStyle(){
    	var ssty = styleNode.find("option:selected").val();
		if (ssty == undefined) { ssty = '';}
    	return ssty;
    }

    function getSelectedColor(){
    	var scol = colorNode.find("option:selected").val();
		if (scol == undefined) { scol = '';}
    	return scol;    	
    }

    function getSelectedSize(){
    	var ssiz = sizeNode.find("option:selected").val();
		if (ssiz == undefined) { ssiz = '';}
    	return ssiz;    	
    }

    function categoryChangeProcess(){
    	categoryNode.change(function(event){
    		var selected_category_id = $(this).find("option:selected").attr('countperformcategory');
    		requestApi('/styles/'+selected_category_id, 'GET', '', categorySelectResponse);
    	});
    }

    function styleChangeProcess(){
    	styleNode.change(function(event){
    		// var selected_style_id = $(this).find("option:selected").attr('countperformstyle');
    		var selected_style_value = $(this).find("option:selected").val();
    		var colorData = new Object;
    		colorData.category_id = getSelectedCategory();
    		colorData.style_no = selected_style_value;
    		requestApi('/colors', 'post', JSON.stringify(colorData), colorchangeforstyle);
    	}).click(function(event){
    		if (getStyleNodeSize() == 1) {
    			$(this).find('option').click(function(){
    				styleNode.change();
    			});
    		}
    	});
    }

    function colorChangeProcess(){
    	colorNode.change(function(event){
    		var sizeData = new Object;
    		sizeData.category_id = getSelectedCategory();
    		sizeData.style_no = getSelectedStyle();
    		sizeData.color = getSelectedColor();
    		requestApi('/sizes', 'post', JSON.stringify(sizeData), sizechangeforcolor);
    	}).click(function(event){
    		if (getColorNodeSize() == 1) {
    			$(this).find('option').click(function(){
    				colorNode.change();
    			});
    		}
    	});
    }

    function sizechangeforcolor(data){
    	sizeNode.empty();
    	loadSizesList(data);
    	enable_ShowExpected_btn();
    }

    function colorchangeforstyle(data){
    	colorNode.empty();
    	sizeNode.empty();
    	loadColorList(data);
    	enable_ShowExpected_btn();
    }    

    function categorySelectResponse(data){
    	styleNode.empty();
    	colorNode.empty();
    	sizeNode.empty();
    	loadStylesList(data);
    	enable_ShowExpected_btn();
    }



    function loadCategoryList(data){
    	populatedropdown(categoryNode, data, 'countperformcategory');
    	categoryChangeProcess();
    }

    function loadStylesList(data){
    	populatedropdown(styleNode, data, 'countperformstyle');
    }

    function loadColorList(data){
    	populatedropdown(colorNode, data, 'countperformcolor');
    }    

    function loadSizesList(data){
    	populatedropdown(sizeNode, data, 'countperformsize');    	
    }


	// var grid = $('#grid-all_categories').bootstrapTable({
 //        url: APP_BASE_API + "/categories",
 //        method: 'POST',
 //        search: false,
 //        searchOnEnterKey: false,
 //        pagination: true,
 //        sidePagination: 'server',
 //        pageSize: 5,
 //        pageList: [5, 10, 25, 50, 100],
 //        showRefresh: false,
 //        showColumns: false,
 //        buttonsClass: 'info',
 //        columns: [{
 //            field: 'name',
 //            title: 'PRODUCT'
 //        }, {
 //            field: 'expected',
 //            title: 'EXPECTED',
 //            searchable: false
 //        }, {
 //            field: 'counted',
 //            title: 'COUNTED',
 //            searchable: false
 //        }]
 //    }).on('load-success.bs.table', function (data) {
 //        /* Executes after data is loaded and rendered */
        
 //    });

</script>