<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header" style="padding: 30px; background-color: #eee;">
				<h1 style="display: inline-block;">Product inventory Count
					<small>Create, schedule and complete counts to keep track of your inventory</small>
				</h1>

				<button style="float:right;" type="button" class="btn btn-info btn-border" onclick="load_view('/product_inventory_count_create_new.html')"> <i class="fa fa-plus" aria-hidden="true"></i> &nbsp Create New Count</button>
			</div>

			<ol class="breadcrumb">
				<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_list.html')">Products</a></li>
				<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_inventory_list.html')"> Stock Control </a></li>
				<li class="active" onclick="load_view('/product_inventory_count.html')">Product inventory Count</li>
			</ol>
			
		</div>
	</div>

	<div class="row" style="margin-top: 50px !important;">
		<div class="col-md-12">
			<div id="inventory_count_tab" class="tabbable">
				<ul id="myTab" class="nav nav-tabs tab-color-blue tab-color-blue background-blue tab-space-4 tab-size-bigger padding-32">
					<li class="active"><a href="#open" data-toggle="tab">Upcomming</a></li>
					<li><a href="#due" data-toggle="tab">Due</a></li>
					<li><a href="#completed" data-toggle="tab">Completed</a></li>
					<li><a href="#cancelled" data-toggle="tab">Cancelled</a></li>
					<li><a href="#all" data-toggle="tab">All Counts</a></li>
				</ul>
				<div class="tab-content padding-32">
					<div class="tab-pane" id="open">
						<div id="openCount_list" class="list-group"></div>
					</div>
					<div class="tab-pane" id="due">
						<div id="dueCount_list" class="list-group"></div>
					</div>
					<div class="tab-pane" id="completed">
						<div id="completedCount_list" class="list-group"></div>
					</div>
					<div class="tab-pane" id="cancelled">
						<div id="cancelCount_list" class="list-group"></div>
					</div>
					<div class="tab-pane in active" id="all">
						<div id="allCount_list" class="list-group"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
	var tabnode = $('#inventory_count_tab');
	var opencount_list_node = $('#openCount_list');
	var duecount_list_node = $('#dueCount_list');
	var completedcount_list_node = $('#completedCount_list');
	var cancelcount_list_node = $('#cancelCount_list');
	var allcount_list_node = $('#allCount_list');

	var currentSelectedRow;

	$(function () {
		tabInit(tabnode);
		breadCrumb();

		fetchOpenCounts();
		fetchdueCounts();
		fetchCompCounts();
		fetchCanceledCounts();
		fetchAllCounts();
		
	});

	function fetchAllCounts(){
		requestApi('/fetchCounts/all', 'GET', '', fetchAllCounts_response);
	}

	function fetchOpenCounts(){
		requestApi('/fetchCounts/open', 'GET', '', fetchOpenCounts_response);
	}

	function fetchdueCounts(){
		requestApi('/fetchCounts/due', 'GET', '', fetchDueCounts_response);
	}

	function fetchCompCounts(){
		requestApi('/fetchCounts/finished', 'GET', '', fetchCompCounts_response);
	}

	function fetchCanceledCounts(){
		requestApi('/fetchCounts/killed', 'GET', '', fetchCanceledCounts_response);
	}

	function fetchCanceledCounts_response(data){
		populateList(cancelcount_list_node, data, 'canceledCountList');
		tableRowSelector(cancelcount_list_node, 'canceledCountList');
	}

	function fetchCompCounts_response(data){
		populateList(completedcount_list_node, data, 'compCountList');
		tableRowSelector(completedcount_list_node, 'compCountList');
	}

	function fetchDueCounts_response(data){
		populateList(duecount_list_node, data, 'dueCountList');
		tableRowSelector(duecount_list_node, 'dueCountList');
	}

	function fetchOpenCounts_response(data){
		populateList(opencount_list_node, data, 'openCountList');
		tableRowSelector(opencount_list_node, 'openCountList');
	}

	function fetchAllCounts_response(data){
		populateList(allcount_list_node, data, 'allCountList');
		tableRowSelector(allcount_list_node, 'allCountList');
	}

	function populateList(node, data, classname){
		for (var i = 0; i < data.length; i++) {
			node.append(	'<a id="'+data[i].id+'" count_name="'+data[i].count_name+'" count_type="'+data[i].count_type+'" href="#" class="list-group-item '+classname+'">'+

								'<table class="table">' +
								  '<thead class="thead-inverse">' +
								    '<tr>' +
								      '<th>Count Name</th>' +
								      '<th>Start Date</th>' +
								      '<th>Created By</th>' +
								      '<th>Close Date</th>' +
								    '</tr>' +
								  '</thead>' +
								  '<tbody>' +
								    '<tr>' +
								      '<th>'+data[i].count_name+'</th>' +
								      '<td>'+data[i].count_start_date+'</td>' +
								      '<td>'+data[i].countedby+'</td>' +
								      '<td>'+countCloseDate( data[i].count_close_date )+'</td>' +
								    '</tr>' +
								  '</tbody>' +
								'</table>' +
							'</a>'
						);
		}
	}

	function countCloseDate(val){
		if (val == null) {
			return 'Not closed'
		} else{
			return val;
		}
	}

	function tableRowSelector(node, className){
    	node.on('click', '.'+className, function(event){
    		// console.log($(this).attr('id'));
			if($(this).hasClass('active')){
				$(this).removeClass('active');
				currentSelectedRow = '';
			} else {
				$(this).addClass('active').siblings().removeClass('active');
				curr_count_id = $(this).attr('id');
				curr_count_name = $(this).attr('count_name');
				curr_count_type = $(this).attr('count_type');

				switch(className){
					case 'openCountList':
					load_view('/product_inventory_count_perform.html');
					break;

					case 'dueCountList':
					resume_curr_count();
					break;

					case 'compCountList':
					load_view('/product_inventory_count_review.html');
					break;

					case 'canceledCountList':
					gritter("ERROR", "This count is already Cancelled", false, '5000', 'gritter-error gritter-center');
					break;

					default:
					break;
				}
			}
			
		});
    }

    function resume_curr_count(){
    	var resumeData = new Object;
		resumeData.id = curr_count_id;
		resumeData.taskflg = 'r';
		pause_resume_count(resumeData);
    }

    function pause_resume_count(data){
    	requestApi('/countStatus', 'POST', JSON.stringify(data), pause_curr_count_response);
    }

    function pause_curr_count_response(data){
    	if (data.status == 'success') {
    		gritter("COUNT RESUMED", "Count with ID: "+curr_count_id+" has successfully resumed", false, '5000', 'gritter-success gritter-center');
    		load_view('/product_inventory_count_perform.html');
    	} else {
    		console.log(data.message);
    	}
    }

</script>