<h1 id="product_tag_list">Product Tags</h1>
<button class="btn btn-default" onclick="load_view('/product_tag_new.html')">Add Tag</button>

<!-- <table id="grid-data"></table> -->

<script>
    // var grid = $('#grid-data').bootstrapTable({
    //     url: APP_BASE_API + "/categories",
    //     method: 'POST',
    //     search: true,
    //     searchOnEnterKey: true,
    //     pagination: true,
    //     sidePagination: 'server',
    //     pageSize: 10,
    //     pageList: [10, 25, 50, 100],
    //     showRefresh: true,
    //     showColumns: true,
    //     buttonsClass: 'info',
    //     columns: [{
    //         field: 'id',
    //         title: 'ID'
    //     }, {
    //         field: 'name',
    //         title: 'Name'
    //     }, {
    //         field: 'commands',
    //         title: 'Commands',
    //         formatter: commandFormatter,
    //         searchable: false
    //     }]
    // }).on('load-success.bs.table', function (data) {
    //      Executes after data is loaded and rendered 
    //     grid.find(".command-edit").on("click", function(e){            
    //         load_view_n_data("/category_edit.html", "/category/" + $(this).attr('uniqueId'));

    //     }).end().find(".command-delete").on("click", function(e){
    //         delete_archive( $(this).attr('uniqueId'),function(data){
    //             $("#grid-data").bootstrapTable("refresh");
    //         }, 'categories' );
    //     });
    // });

    // function commandFormatter(value, row, index) {
    //     return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
    //            '<button class="btn btn-info command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>';
    // }
</script>