<div class="page-header">
    <h1 id="category_name">
        New Product
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Add new product according to the category
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/product_list.html')">Back to Product List</button>
</p>

<div id="Product-NEW"></div>


<script>

    var colorNames = ["AliceBlue", "AntiqueWhite", "Aqua", "Aquamarine", "Azure", "Beige", "Bisque", "Black", "BlanchedAlmond", "Blue", "BlueViolet", "Brown", "BurlyWood", "CadetBlue", "Chartreuse", "Chocolate", "Coral", "CornflowerBlue", "Cornsilk", "Crimson", "Cyan", "DarkBlue", "DarkCyan", "DarkGoldenRod", "DarkGray", "DarkGrey", "DarkGreen", "DarkKhaki", "DarkMagenta", "DarkOliveGreen", "Darkorange", "DarkOrchid", "DarkRed", "DarkSalmon", "DarkSeaGreen", "DarkSlateBlue", "DarkSlateGray", "DarkSlateGrey", "DarkTurquoise", "DarkViolet", "DeepPink", "DeepSkyBlue", "DimGray", "DimGrey", "DodgerBlue", "FireBrick", "FloralWhite", "ForestGreen", "Fuchsia", "Gainsboro", "GhostWhite", "Gold", "GoldenRod", "Gray", "Grey", "Green", "GreenYellow", "HoneyDew", "HotPink", "IndianRed", "Indigo", "Ivory", "Khaki", "Lavender", "LavenderBlush", "LawnGreen", "LemonChiffon", "LightBlue", "LightCoral", "LightCyan", "LightGoldenRodYellow", "LightGray", "LightGrey", "LightGreen", "LightPink", "LightSalmon", "LightSeaGreen", "LightSkyBlue", "LightSlateGray", "LightSlateGrey", "LightSteelBlue", "LightYellow", "Lime", "LimeGreen", "Linen", "Magenta", "Maroon", "MediumAquaMarine", "MediumBlue", "MediumOrchid", "MediumPurple", "MediumSeaGreen", "MediumSlateBlue", "MediumSpringGreen", "MediumTurquoise", "MediumVioletRed", "MidnightBlue", "MintCream", "MistyRose", "Moccasin", "NavajoWhite", "Navy", "OldLace", "Olive", "OliveDrab", "Orange", "OrangeRed", "Orchid", "PaleGoldenRod", "PaleGreen", "PaleTurquoise", "PaleVioletRed", "PapayaWhip", "PeachPuff", "Peru", "Pink", "Plum", "PowderBlue", "Purple", "RebeccaPurple", "Red", "RosyBrown", "RoyalBlue", "SaddleBrown", "Salmon", "SandyBrown", "SeaGreen", "SeaShell", "Sienna", "Silver", "SkyBlue", "SlateBlue", "SlateGray", "SlateGrey", "Snow", "SpringGreen", "SteelBlue", "Tan", "Teal", "Thistle", "Tomato", "Turquoise", "Violet", "Wheat", "White", "WhiteSmoke", "Yellow", "YellowGreen"];
    var sizes = [];

    function loadColors(){
        $.ajax({
            url : APP_BASE_API + "/colors" ,
            type: 'GET',
            success:function(data, textStatus, jqXHR){
                for(var i=0;i<data.length;i++){
                    colorNames.push(data[i].name);
                }
                loadSizes();
            },
            error: function(jqXHR, textStatus, errorThrown)
            {

            }
        });
    }

    function loadSizes(){
        requestApi('/sizes', 'GET', '', loadSizesResponse);
    }

    function loadSizesResponse(data){
        for(var i=0; i<data.length; i++){
            sizes.push(data[i].name);
        }
        initForm();
    }

    function initForm(){
        $("#Product-NEW").alpaca({
            "schema": {
                "type": "object",
                "properties":{

                    "category":{
                        "title": "Category",
                        "required": true,
                        "type": "string"
                    },
                    "product_name": {
                        "title": "Product Name",
                        "required": true,
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 50,
                    },
                    "style_no": {
                        "title": "Style No",
                        "required": true,
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 50,
                    },
                    "color": {
                        "title": "Color",
                        "required": true,
                        "type": "string"
                    },
                    "size": {
                        "title": "Size",
                        "required": true,
                        "type": "string",
                        "maxLength": 5
                    },
                    "description": {
                        "title": "Description",
                        "type": "text",
                    },
                    "new_arrivals": {
                        "title": "New Arrivals",
                        "type": "string"
                    },
                    "special_offer": {
                        "title": "Special Offer",
                        "type": "string"
                    },
                    "selling_price": {
                        "title": "Sale Price",
                        "default": "0.00",
                        "minimum": 1,
                        "required": true,
                        "type": "number"
                    },
                    "discount": {
                        "title": "Discount",
                        "default": "0.00",
                        "type": "string"
                    },
                    "image_video": {
                        "title": "Image",
                        "type": "string"
                    },
                }
            },
            "options": {

                "fields": {
                    "id": {
                        "id": "id",
                        "type": "hidden",
                    },
                    "category": {
                        "label": "Category",
                        "type": "select",
                        "noneLabel": "-- Select Category --",
                        "removeDefaultNone": false,
                        "dataSource": APP_BASE_API + "/categoriesList"
                    },
                    "product_name": {
                        "helper":"Enter the Product Name"
                    },
                    "style_no": {
                        "helper": "Enter style number"
                    },
                    "selling_price": {
                        "helper": "Enter selling price"
                    },
                    "discount": {
                        "helper": "Enter discount"
                    },
                    "color":{
                        "type": "select",
                        "label": "Color",
                        "noneLabel": "-- Select Color --",
                        "removeDefaultNone": false,
                        "useDataSourceAsEnum": true,
                        "dataSource": colorNames
                    },
                    "size":{
                        "type": "select",
                        "label": "Sizes",
                        "noneLabel": "-- Select Sizes --",
                        "removeDefaultNone": false,
                        "useDataSourceAsEnum": true,
                        "dataSource": sizes
                    },
                    "category_id": {
                        "id": "category_id",
                        "type": "hidden",
                    },
                    "new_arrivals": {
                        "type": "checkbox",
                        "helper": "Check if the product is new"
                    },
                    "special_offer": {
                        "type": "checkbox",
                        "helper": "Check if the product is under special offer"
                    },
                    "image_video": {
                        "id": "image_video",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                        "helpers": ["Choose to Upload Product Picture", "Please Choose images of size 357x515 px"]
                    },
                    "description": {
                        "id": "description",
//                        "type": "ckeditor",
                        "type": "textarea",
                        "wordlimit": 1000,
                        "helper": "Enter Description"
                    },
                    // "color":{
                    //     "type": "text",
                    //     "label": "Color",
                    //     "typeahead": {
                    //         "datasets": {
                    //             "type": "local",
                    //             "source": colorNames
                    //         }
                    //     }
                    // },
                },
                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/product",
                        "enctype": "multipart/form-data",
                        "method": "POST"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }

                                var config = {};

                                var value = this.getValue();
                                var id = this.getId();
                                var formData = new FormData($("form#"+id)[0]);

                                config.data =  formData;
                                config.processData = false;
                                config.contentType = false;
                                // config.contentType = "application/json";
                                // config.data = JSON.stringify(value);

                                this.ajaxSubmit(config).done(function(data){
                                    if(data.status == "success"){
                                        gritter(data.status, data.message, false, '1500', 'gritter-success');
                                        load_view('/product_list.html');
                                    } else {
                                        gritter(data.status, data.message, false, '1500', 'gritter-error');
                                    }
                                    // console.log(data);
                                }).fail(function(){
                                        gritter("Error", "Sending Failed", false, '1500', 'gritter-error');
                                        });
                            }
                        },
//                        "reset": {},
                    }
                }
            }
        });
    }
    $( document ).ready(function() {
        loadColors();
    });

</script>
