<div class="page-header">
    <h1 id="product-name">
        Edit Product
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Change Product details
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/product_list.html')">Back to Product List</button>
</p>

<div id="Product-EDIT"></div>


<script>
    var colorNames = [];
    var sizes = [];

    function loadColors(){
        $.ajax({
            url : APP_BASE_API + "/colors" ,
            type: 'GET',
            success:function(data, textStatus, jqXHR){
                for(var i=0;i<data.length;i++){
                    colorNames.push(data[i].name);
                }
                loadSizes();
            },
            error: function(jqXHR, textStatus, errorThrown)
            {

            }
        });
    }

    function loadSizes(){
        requestApi('/sizes', 'GET', '', loadSizesResponse);
    }

    function loadSizesResponse(data){
        for(var i=0; i<data.length; i++){
            sizes.push(data[i].name);
        }
        load_form();
    }

    function load_form(){
        $("#Product-EDIT").alpaca({
            // "dataSource": currentDataUrl,
            "schema": {
                "type": "object",
                "properties": {
                    "id":{
                        "type": "string"
                    },
                    "category":{
                        "title": "Selected Category",                        
                        "type": "string",
                    },
                    "new_category":{
                        "title": "Category List",                        
                        "type": "string"                        
                    },
                    "product_name":{
                        "title": "Product Name",                        
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 50,
                    },
                    "style_no": {
                        "title": "Style No",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 50,
                    },
                    "color": {
                        "title": "Color",
                        "type": "string"
                    },
                    "new_color": {
                        "title": "Existing Color list",
                        "type": "string",
                    },
                    "create_color": {
                        "title": "Create New Color",
                        "type": "string",
                    },
                    "name_new_color": {
                        "title": "Name New Color",
                        "type": "string",
                        "required": true,
                    },
                    "size": {
                        "title": "Size",
                        "type": "string"
                    },
                    "new_size": {
                        "title": "Size list",
                        "type": "string",
                    },
                    // "avatar": {
                    //     "title": "Avatar",
                    //     "type": "array"
                    // },
                    "description": {
                        "title": "Description",
                        "type": "text"
                    },
                    "new_arrivals": {
                        "title": "New Arrivals",
                        "type": "string"                        
                    },
                    "special_offer": {
                        "title": "Special Offer",
                        "type": "string"
                    },
                    "cost_price": {
                        "title": "Cost Price",
                        "type": "string"
                    },
                    "selling_price": {
                        "title": "Sale Price",
                        "type": "string"
                    },
                    "discount": {
                        "title": "Discount",
                        "type": "string"
                    },
                    "image_view": {
                        "type": "string"
                    },
                    "image_video": {
                        "title": "Image",
                        "type": "string"
                    },
                },
                "dependencies": {
                    "name_new_color": "create_color"
                }
            },
            "postRender": function(control) {
                load_data();
            },
            "options": {

                "fields": {
                    "id": {
                        "id": "id",
                        "type": "hidden"
                    },
                    "category":{
                        "id": "category",
                        "disabled": true,
                    },
                    "new_category": {
                        "id": "new_category",
                        "label": "Category List",
                        "type": "select",
                        // "noneLabel": "-- Select Category --",
                        // "removeDefaultNone": false,
                        "dataSource": APP_BASE_API + "/categoriesList",
                        "helper": "Choose to change current category",
                        "validate": true,
                        "focus": true
                    },
                    "product_name":{
                        "id": "product_name"
                    },
                    "style_no": {
                        "id":"style_no"
                    },
                    "color": {
                        "id": "color",
                        "disabled": true,
                    },
                    "new_color":{
                        "type": "select",
                        "label": "Color list",
                        "noneLabel": "-- Select Color --",
                        "removeDefaultNone": false,
                        // "useDataSourceAsEnum": true,
                        "dataSource": colorNames,
                        "helper": "Choose to change current color",
                        "validate": true,
                    },
                    "create_color": {
                        "id": "create_color",
                        "type": "colorpicker",
                        "component": true,
                        "helpers": ["Create New Color by Dirrectly entring the color code or Choose the color from the tray.", "If you choose color or enter color-code 'Name New Color' will be mendatory."],
                    },
                    "name_new_color": {
                        "id": "name_new_color",
                        "helper": "Enter the newly created color name.",
                    },
                    "size": {
                        "id": "size",
                        "disabled": true,
                    },
                    "new_size":{
                        "type": "select",
                        "label": "Size list",
                        "noneLabel": "-- Select size --",
                        "removeDefaultNone": false,
                        // "useDataSourceAsEnum": true,
                        "dataSource": sizes,
                        "helper": "Choose to change current size",
                        "validate": true,                    
                    },
                    "description": {
                        "id": "description",
                        "type": "textarea",
//                        "type": "ckeditor",
                        "wordlimit": 1000,
                    },
                    "new_arrivals": {
                        "id": "new_arrivals",
                        "type": "checkbox"
                    },
                    "special_offer": {
                        "id": "special_offer",
                        "type": "checkbox"
                    },
                    "cost_price": {
                        "id": "cost_price",
                    },
                    "selling_price": {
                        "id": "selling_price"
                    },
                    "discount": {
                        "id": "discount"
                    },
                    "image_view": {
                        "id": "avatar",
                        "type": "image",
                    },
                    "image_video": {
                        "id": "image_video",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                        "helpers": ["Choose to Upload Product Picture", "Please Choose images of size 357x515 px"]
                    }
                },
                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/product",
                        "method": "POST",
                        "enctype": "multipart/form-data"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }

                                var value = this.getValue();
                                var config = {};
                                // config.contentType = "application/json";
                                // config.data = JSON.stringify(value);
                                var id = this.getId();
                                var formData = new FormData($("form#"+id)[0]);
                                config.data =  formData;

                                config.processData = false;
                                config.contentType = false;

                                this.ajaxSubmit(config).done(function(data){
                                    if(data.status == "success"){
                                        gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                        load_view('/product_list.html');
                                    } else {
                                        gritter(data.status, data.message, false, '1500', 'gritter-error gritter-center');
                                    }
                                }).fail(function(){
                                       gritter("Error", "Sending Failed", false, '1500', 'gritter-error gritter-center');
                                        });
                            }
                        },
    //                        "reset": {},
                    }
                }
            }
        });
    }

    function load_data(){
        $.ajax({
            url : currentDataUrl,
            type: "GET",
            success:function(data, textStatus, jqXHR){
                if(data){

                    $('#id').val(data.id);
                    $('#category').val(data.category);
                    $('#product_name').val(data.product_name);
                    $('#style_no').val(data.style_no);
                    $('#color').val(data.color);
                    $('#size').val(data.size);
                    $('#description').val(data.description);

                    $('[name="new_arrivals"]').prop("checked", parseInt(data.new_arrivals)?true:false);
                    $('[name="special_offer"]').prop("checked", parseInt(data.special_offer)?true:false);
//                    $('#quantity').val(data.quantity);
                    $('#cost_price').val(data.cost_price);
                    $('#selling_price').val(data.selling_price);
                    $('#discount').val(data.discount);
//                    $('#file_bn').val(data.file_bn);
//                    $('#file_en').val(data.file_en);
                    $('#avatar').val(data.avatar);
                    $('#avatar').attr("disabled","disabled");
                    $('#avatar-image').attr("src","http://"+data.docroot+"/"+data.avatar);
                    $('#avatar-image').attr("alt","No Photo Found");
                    $('#avatar-image').css("width","200");
                    $('#image_video').val('');
                    // $('#category_id').val(data.category_id);

                }

                $('.preloader').hide();
            },
            error: function(jqXHR, textStatus, errorThrown){
                $('.preloader').hide();
            }
        });
    }
    function clear_form(){
        $('#id').val('');
        $('#category').val('');
        $('#style_no').val('');
        $('#color').val('');
        $('#size').val('');
        $('#description').val('');
        $('#new_arriavals').val(false);
        $('#special_offer').val(false);
        $('#cost_price').val('');
        $('#selling_price').val('');
        $('#discount').val('');
        // $('#file_bn').val(data.file_bn);
        // $('#file_en').val(data.file_en);
        $('#image_video').val('');
    }

    jQuery(function($) {
        // load_form();
        loadColors();        
    });

</script>
