<h1>Add Product In Stock</h1>
<button class="btn btn-default" onclick="load_view('/product_inventory_list.html')">Back</button>

<div id="Product-NEW"></div>


<script>
    $("#Product-NEW").alpaca({
        "dataSource": currentDataUrl,
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string"
                },
                "category":{
                    "title": "Category",
                    "type": "string",
                    "disabled": true
                },
                "style_no": {
                    "title": "Style No",
                    "type": "string",
                    "disabled": true
                },
                "color": {
                    "title": "Color",
                    "type": "string",
                    "disabled": true
                },
                "size": {
                    "title": "Size",
                    "type": "string",
                    "disabled": true
                },
                "quantity": {
                    "title": "Current Quantity",
                    "type": "number"
                },
                "new_quantity": {
                    "title": "New Quantity",
                    "required": true,
                    "type": "number"
                },
                "options": {
                    "enum": ["add", "sub", "dirr"],
                    "required": true
                },
                "total_quantity": {
                    "title": "Total Quantity",
                    "type": "number"
                }
            }
        },
        "options": {

            "fields": {
                "id": {
                    "type": "hidden",
                },
                "category":{
                    "disabled": true
                },
                "style_no": {
                    "disabled": true
                },
                "color": {
                    "disabled": true
                },
                "size": {
                    "disabled": true
                },
                "quantity": {
                    "id": "quantity",
                    "disabled": true
                },
                "options": {
                    "id": "options",
                    "noneLabel": "Dirrectly override",
                    "label": "Stock Manipulation Options",
                    "helper": "Choose operation",
                    "optionLabels": ["Add to current stock", "Subtract from current stock", "Dirrectly"]
                },
                "new_quantity": {
                    "id": "new_quantity",
                    "helper": "you can dirrectly input the new quantity, or you can add / subtract from current quantity"
                },
                "total_quantity": {
                    "id": "total_quantity",
                    "disabled": true
                }
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/product_add_in__stock",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(){
                                load_view('/product_inventory_list.html');
                            }).fail(function(){
//                                    console.warn('Failed to save');
                                    });
                        }
                    },
//                        "reset": {},
                }
            }
        },
        "postRender": function(control) {
            var options = control.childrenByPropertyId["options"];
            var new_qty = control.childrenByPropertyId["new_quantity"];
            
            var curr_qty_val = parseInt($("#quantity").val());
            var new_qty_val;

            options.hide();
            new_qty.on("keyup", function(e) {
                var charCode = (e.which) ? e.which : e.keyCode;
                if ((charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105) || charCode == 8) {
                    new_qty_val = $('#new_quantity').val();
                    if(new_qty_val == ''){
                        options.hide();
                    } else options.show();
                }
            });
            
            control.childrenByPropertyId["options"].on("change", function() {
                // current_selected_caption = $('#name').val().toLowerCase().replace(/\s/g, "");
                if(this.getValue() == 'dirr'){
                    $('#total_quantity').val(parseInt($('#new_quantity').val()));
                } else if (this.getValue() == 'add'){
                    control.childrenByPropertyId["new_quantity"]
                    var new_qty = curr_qty_val + parseInt($('#new_quantity').val());
                    $('#total_quantity').val(new_qty);
                } else if (this.getValue() == 'sub'){
                    var new_qty = curr_qty_val - parseInt($('#new_quantity').val());
                    if (new_qty > 0) {
                        $('#total_quantity').val(new_qty);    
                    } else {
                        $('#total_quantity').val(0);
                    }
                    
                }
            });
        }
    });
</script>