<div class="page-header">
    <h1 id="category_name">
        Manage Product
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Manage Your products &amp; Items
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-info">
    <button class="btn btn-info" onclick="load_view('/product_new.html')">Add New Product</button>
    <button class="btn btn-info pull-right" onclick="clearAllSearch()">Clear All Search</button>
    New Product Add panel
</p>

<div id="toolbar">
    <div class="form-inline" role="form">
        <div class="form-group">
            <select class="form-control">
                <option value="">Export Basic</option>
                <option value="all">Export All</option>
                <option value="selected">Export Selected</option>
            </select>
        </div>
        <!-- <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle" aria-expanded="false">
                Export
                <i class="ace-icon fa fa-angle-down icon-on-right"></i>
            </button>

            <ul class="dropdown-menu">
                <li>
                    <a href="#">MS-Excel</a>
                </li>

                <li>
                    <a href="#">pdf</a>
                </li>

                <li>
                    <a href="#">txt</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="#">png</a>
                </li>
            </ul>
        </div> -->
    </div>
</div>

<div class="widget-box widget-color-blue2">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            <i class="ace-icon fa fa-table"></i>
            All Products
        </h5>
        <div class="widget-toolbar widget-toolbar-light no-border">
            <a id="grid_refresh" data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>

    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="grid-data" class="table table-striped table-bordered table-hover" data-show-export="true" data-filter-control='true' data-toolbar="#toolbar">
                <thead>
                    <tr>
                        <th> </th>
                        <th> <select id='findcategory' class='form-control gosearch'><option></option></select></th>
                    </tr>
                </thead>
            </table>            
        </div>
    </div>
</div>  <!-- widget Box -->



<script>
    var gridNode = $("#grid-data");
    var current_selected_cat = '';
    var current_export_mode = 1;

    var filter_itemName_list = [];
    var filter_category_list = [];

    var backupimage = APP_SERVER_BASE+'/assets/images/no-image-available2.png';
    // var senddata = 'search=Polo+Shirt&order=asc&limit=10&offset=0&filter=%7B%22item_name%22%3A%22Polo+Shirt%2FNevy+Blue%2FM%22%2C%22category%22%3A%22Polo+Shirt%22%7D';
    // requestApi('/products', 'POST', senddata, response);
    // function response(data){
    //     console.log(data);
    // }

    function get_item_filter_data(){
        requestApi('/getItems', 'GET', '', itemresponse);
    }

    function get_category_filter_data(){
        requestApi('/categories', 'GET', '', categodyresponse);
    }
    
    function categodyresponse(data){
        populateDataforSelect2(data, filter_category_list);
        initCategoryFilter();
    }

    function itemresponse(data){        
        populateDataforSelect2(data, filter_itemName_list);
        initItemFilter();
    }

    function getItemFilter(){
        return $('#finditem').val();
    }

    function getCategoryFilter(){
       return $('#findcategory').val();        
    }

    function setCurrentSelCat(value){
        current_selected_cat = value;
    }

    function get_current_selected_cat(){
        return current_selected_cat;
    }

    function initItemFilter(){
        $('#finditem').select2({
            data: filter_itemName_list,
            placeholder: 'Select Item Name',
            allowClear: true
        });
    }

    function clearAllSearch(){
        load_view('/product_list.html')
    }

    function initCategoryFilter(){
        $('#findcategory').select2({
            data: filter_category_list,
            placeholder: "Filter By Category",
            allowClear: true,
            theme: "classic"
        });
    }

    function buildTable(){
        var $grid = gridNode.bootstrapTable({
        url: APP_BASE_API + "/productslistfordis",
        method: 'POST',
        detailView: true,
        detailFormatter: productdetailformatter,
        search: true,
        clickToSelect: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'client',
        exportDataType: current_export_mode,
        pageSize: 20,
        pageList: [20, 50, 100, 200, 300, 400, 500],
        showRefresh: true,
        showColumns: false,
        checkboxHeader: true,
        columns: [{
            field: 'state',
            checkbox: true
        }, {
            field: 'category',
            searchable: false,
            width: "20%"
        }, {
            field: 'avatar',
            title: 'Product Image',
            searchable: false,
            formatter: productImageformatter,
        }, {
            field: 'product_name',
            title: 'Product Name',
            searchable: true,
            class: "product_name"
        }, {
            field: 'style_no',
            title: 'Style no'
        }, {
            field: 'color',
            title: 'Color'            
        }, {
            field: 'size',
            title: 'Size'
        },{
            field: 'selling_price',
            title: 'Selling Price'
        }, {
            field: 'special_offer',
            title: 'Special Offer',
            formatter: soFormatter,
        }, {
            field: 'new_arrivals',
            title: 'New Arrivals',
            formatter: naFormatter,
        }, {
            field: 'commands',
            title: 'Commands',
            formatter: commandFormatter,
            searchable: false
        }],
            filter: false,
            queryParams: function(params){
                // if(getItemFilter() != ''){
                //     params['item_id']=getItemFilter();
                // } else 
                if (get_current_selected_cat() != ''){
                    params['category_id']=get_current_selected_cat();
                }
                return params;
            }
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            $grid.find(".command-edit").on("click", function(e){
                load_view_n_data("/product_edit.html","/product/" + $(this).attr('uniqueId') + "/" + randomGenarator());

            }).end().find(".command-delete").on("click", function(e){
                // delete_archive( $(this).attr('uniqueId'), function(data){
                //     gridRefresh();
                // }, 'products' );
                // e.preventDefault();

                var deleteProductId = $(this).attr('uniqueId');
                bootbox.confirm("Are you sure to delete this Product named, "+$(this).parent().siblings('.product_name').html()+"?", function(result) {
                    if(result) {
                        requestApi('/productDelete/'+ deleteProductId, 'GET', '', function(data){
                            if (data.status == "success") {
                                gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                $("#grid-data").bootstrapTable("refresh");
                            } else {
                                gritter(data.status, data.message, false, '3000', 'gritter-error gritter-center');
                            }
                        });
                    }
                });
            });
        });

    }

    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'" style="width:100%"> <span class="fa fa-pencil"></span> </button>' +
               '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="width:100%; margin-top: 2px;"> <span class="fa fa-trash-o"> </button>';
    }

    function productImageformatter(value, row, index){
        return '<img src="'+APP_SERVER_BASE+value+'" width="120" height="95" alt="Photo not available" />';
    }

    function productdetailformatter(value, row, index){
        var html = [];
        $.each(row, function (key, value) {
            if (key == 'description') {
                html.push(  '<p class="alert alert-default">' +
                                '<b>'+key.substr(0,1).toUpperCase()+key.substr(1)+'</b>' +
                            '</p>' +
                            '<p>' +
                                value +
                            '</p>')
                // html.push('<p><b>' + key.substr(0,1).toUpperCase()+key.substr(1) + '</b></p> <p');
            }
        });
        return html.join('');
    }

    function soFormatter(value, row, index){
        if(value == "1"){
            return 'True'
        } else {
            return 'False'
        }
    }

    function naFormatter(value, row, index){
        if(value == "1"){
            return 'True'
        } else {
            return 'False'
        }
    }

    function populateDataforSelect2(data, array){
        for (var i = 0; i < data.length; i++) {
           array.push({ id: data[i].id, text: data[i].name });
       }
    }

    function gridRefresh(){
        setCurrentSelCat(getCategoryFilter());
            gridNode.bootstrapTable("refresh");
        $(".gosearch").unbind().change(function() {
        });
        //buildTable();
    }

    $('#grid-data').on('load-success.bs.table', function (event) {
        event.preventDefault();
        // get_item_filter_data();
        $('#findcategory').select2({ 
            // placeholder: getCategoryFilter(),
            placeholder: "Filter By Category",
            allowClear: true,
            theme: "classic"
        });
        

        //refresh on any select2 change
        $('.gosearch').change(function(event){
            gridRefresh();
            event.preventDefault();
        });
    });

    function refresh_grid(){
        $('#grid_refresh').click(function(){
            gridNode.bootstrapTable('refresh');
        });
    }

    function exportModecatcher(){
        var $table = gridNode;
        $('#toolbar').find('select').change(function () {
            current_export_mode = $(this).val();
            gridNode.bootstrapTable("destroy");
            buildTable();
            get_category_filter_data();
            // $table.bootstrapTable('destroy').bootstrapTable({
            //     exportDataType: $(this).val()
            // });
        });
    }

    $(function(){
        buildTable();
        get_category_filter_data();
        exportModecatcher();
    });

</script>