<div class="page-header">
    <h1 id="category_name">
        New Product
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Add new product according to the category
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/product_list.html')">Back to Product List</button>
</p>

<div id="Product-NEW"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
                <!-- The file input field used as target for the file upload widget -->
                <input id="fileupload" type="file" name="files[]" multiple>
            </span>
            <!-- The container for the uploaded files -->
            <div class="well">
                <div id="files" class="files"></div>
                <!-- <table  role="presentation" class="table table-striped"><tbody class="files"></tbody></table> -->
                <!-- The global progress bar -->
                <div id="progress" class="progress progress-mini progress-striped active" hidden="true">
                    <div class="progress-bar progress-bar-success"></div>
                </div>         
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

<!-- <button class="btn" id="gritter-regular">Regular</button> -->


<script>
    // var errnode = $('#gritter-regular');
    // gritterErrors(errnode, 'Test', 'oh .. this is fucking testing', 'gritter-info');

    $('#gritter-regular').click(function(){
        $.gritter.add({
            title: 'This is a regular notice!',
            text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" class="blue">magnis dis parturient</a> montes, nascetur ridiculus mus.',
            sticky: false,
            time: '',
            class_name: 'gritter-error' + (!$('#gritter-light').get(0).checked ? ' gritter-light' : '')        
        });
        return false;
    });

    var colorNames = ["AliceBlue", "AntiqueWhite", "Aqua", "Aquamarine", "Azure", "Beige", "Bisque", "Black", "BlanchedAlmond", "Blue", "BlueViolet", "Brown", "BurlyWood", "CadetBlue", "Chartreuse", "Chocolate", "Coral", "CornflowerBlue", "Cornsilk", "Crimson", "Cyan", "DarkBlue", "DarkCyan", "DarkGoldenRod", "DarkGray", "DarkGrey", "DarkGreen", "DarkKhaki", "DarkMagenta", "DarkOliveGreen", "Darkorange", "DarkOrchid", "DarkRed", "DarkSalmon", "DarkSeaGreen", "DarkSlateBlue", "DarkSlateGray", "DarkSlateGrey", "DarkTurquoise", "DarkViolet", "DeepPink", "DeepSkyBlue", "DimGray", "DimGrey", "DodgerBlue", "FireBrick", "FloralWhite", "ForestGreen", "Fuchsia", "Gainsboro", "GhostWhite", "Gold", "GoldenRod", "Gray", "Grey", "Green", "GreenYellow", "HoneyDew", "HotPink", "IndianRed", "Indigo", "Ivory", "Khaki", "Lavender", "LavenderBlush", "LawnGreen", "LemonChiffon", "LightBlue", "LightCoral", "LightCyan", "LightGoldenRodYellow", "LightGray", "LightGrey", "LightGreen", "LightPink", "LightSalmon", "LightSeaGreen", "LightSkyBlue", "LightSlateGray", "LightSlateGrey", "LightSteelBlue", "LightYellow", "Lime", "LimeGreen", "Linen", "Magenta", "Maroon", "MediumAquaMarine", "MediumBlue", "MediumOrchid", "MediumPurple", "MediumSeaGreen", "MediumSlateBlue", "MediumSpringGreen", "MediumTurquoise", "MediumVioletRed", "MidnightBlue", "MintCream", "MistyRose", "Moccasin", "NavajoWhite", "Navy", "OldLace", "Olive", "OliveDrab", "Orange", "OrangeRed", "Orchid", "PaleGoldenRod", "PaleGreen", "PaleTurquoise", "PaleVioletRed", "PapayaWhip", "PeachPuff", "Peru", "Pink", "Plum", "PowderBlue", "Purple", "RebeccaPurple", "Red", "RosyBrown", "RoyalBlue", "SaddleBrown", "Salmon", "SandyBrown", "SeaGreen", "SeaShell", "Sienna", "Silver", "SkyBlue", "SlateBlue", "SlateGray", "SlateGrey", "Snow", "SpringGreen", "SteelBlue", "Tan", "Teal", "Thistle", "Tomato", "Turquoise", "Violet", "Wheat", "White", "WhiteSmoke", "Yellow", "YellowGreen"];
    var sizes = [];

    function loadColors(){
        $.ajax({
            url : APP_BASE_API + "/colors" ,
            type: 'GET',
            success:function(data, textStatus, jqXHR)
            {
                // console.debug(data);
                for(var i=0;i<data.length;i++){
                    colorNames.push(data[i].name);
                }
                loadSizes();
            },
            error: function(jqXHR, textStatus, errorThrown)
            {

            }
        });
    }

    function loadSizes(){
        requestApi('/sizes', 'GET', '', loadSizesResponse);
    }

    function loadSizesResponse(data){
        for(var i=0; i<data.length; i++){
            sizes.push(data[i].name);
        }
        initForm();
    }

    function initForm(){
        $("#Product-NEW").alpaca({
            "schema": {
                "type": "object",
                "properties": {
                    "category":{
                        "title": "Category",
                        "required": true,

                        "type": "string"
                    },
                    "style_no": {
                        "title": "Style No",
                        "required": true,
                        "type": "string"
                    },
                    // "files": {
                    //     "type": "array",
                    //     "title": "Files"
                    // },
                    "color": {
                        "title": "Color",
                        "required": true,
                        "type": "string"
                    },
                    "size": {
                        "title": "Size",
                        "required": true,
                        "type": "string"
                    },
                    "description": {
                        "title": "Description",
                        "type": "string"
                    },
                    "selling_price": {
                        "title": "Sale Price",
                        "default": "0.00",
                        "minimum": 1,
                        "required": true,
                        "type": "number"
                    },
                    "discount": {
                        "title": "Discount",
                        "default": "0.00",
                        "type": "string"
                    },
                }
            },
            "options": {

                "fields": {
                    "category": {
                        "label": "Category",
                        "type": "select",
                        "noneLabel": "-- Select --",
                        "removeDefaultNone": false,
                        "dataSource": APP_BASE_API + "/categories"
                    },
                    // "files": {
                    //     "disabled": true,
                    //     "type": "upload",
                    //     "multiple": false,
                    //     "maxFileSize": 25000000,
                    //     "maxNumberOfFiles": 1,
                    //     // "fileTypes": "/(\.|\/)(gif|jpe?g|png)$/i",
                    //     "upload": {
                    //         "showUploadPreview": true, 
                    //         "formData": {
                    //             "path": "plexpos/archive/"
                    //         },
                    //         "url": "https://localhost/"
                    //     }
                    // },
                    "description": {
                        "type": "textarea",
                    },
                    "color":{
                        "type": "text",
                        "label": "Color",
                        "typeahead": {
                            "datasets": {
                                "type": "local",
                                "source": colorNames
                            }
                        },
                    },
                    "size":{
                        "type": "text",
                        "label": "Sizes",
                        "typeahead": {
                            "datasets": {
                                "type": "local",
                                "source": sizes
                            }
                        },
                    },
                },
                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/product",
                        "enctype": "multipart/form-data",
                        "method": "POST"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }

                                var value = this.getValue();
                                var config = {};
                                config.contentType = "application/json";
                                config.data = JSON.stringify(value);

                                this.ajaxSubmit(config).done(function(){
                                    load_view('/product_list.html');
                                }).fail(function(){
//                                    console.warn('Failed to save');
                                        });
                            }
                        },
//                        "reset": {},
                    }
                }
            }
        });
    }
    $( document ).ready(function() {
        loadColors();
        
        'use strict';
        // Change this to the location of your server-side upload handler:
        var url = ADMIN_BASE+'/uploadHandler/',
            uploadButton = $('<button/>')
                .addClass('btn btn-app btn-purple btn-sm pull-right')
                .css('position','absolute')
                .css('top','26%')
                .css('right','5%')
                .prop('disabled', true)
                .text('Processing...')
                .on('click', function () {
                    var $this = $(this),
                        data = $this.data();
                    $this
                        .off('click')
                        .text('Abort')
                        .on('click', function () {
                            $this.remove();
                            data.abort();
                        });
                    data.submit().always(function () {
                        $this.remove();
                    });
                });
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 999000,
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
                .test(window.navigator.userAgent),
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true
        }).on('fileuploadadd', function (e, data) {
            console.log(data);
            data.context = $('<div/>').appendTo('#files');
            $.each(data.files, function (index, file) {
                var node = $('<p/>')
                        .append($('<span/>').text(file.name));
                if (!index) {
                    node
                        .append(uploadButton.clone(true).data(data));
                }
                node.appendTo(data.context);
            });
        }).on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
                file = data.files[index],
                node = $(data.context.children()[index]);
            if (file.preview) {
                node
                    .prepend('<br>')
                    .prepend(file.preview);
            }
            if (file.error) {
                node
                    .append('<br>')
                    .append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button')
                    .html('<i class="ace-icon fa fa-cloud-upload bigger-200"></i> Upload')
                    .prop('disabled', !!data.files.error);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress').show();
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }).on('fileuploaddone', function (e, data) {
            $('#progress').hide();
            $.each(data.result.files, function (index, file) {
                if (file.url) {
                    console.log(file.url);
                    var link = $('<a>')
                        .attr('target', '_blank')
                        .prop('href', file.url);
                    $(data.context.children()[index])
                        .wrap(link);
                } else if (file.error) {
                    var error = $('<span class="text-danger"/>').text(file.error);
                    $(data.context.children()[index])
                        .append('<br>')
                        .append(error);
                }
            });
        }).on('fileuploadfail', function (e, data) {
            $.each(data.files, function (index) {
                var error = $('<span class="text-danger"/>').text('File upload failed.');
                $(data.context.children()[index])
                    .append('<br>')
                    .append(error);
            });
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });

</script>