<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>New Stock Transfer</h1>	
			</div>
			
			<ol class="breadcrumb">
				<li> <a href="#" class="bredcrumb_home" onclick="load_view('/order_list.html')">Products</a></li>
				<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_inventory_list.html')"> Stock Control </a></li>
				<li class="active" onclick="load_view('/product_inventory_return.html')">New Stock Transfer</li>
			</ol>
			
			<div class="container" style="margin-top: 40px;">
				<div class="panel panel-default">
					<div class="panel-heading">Stock Transfer Details</div>
					<div class="panel-body">
						<form>
							<div class="form-group row">
							    <label for="stocktransfer_name" class="col-sm-2 form-control-label">Name / Refference</label>
							    <div class="col-sm-4">
							      	<input type="text" class="form-control" id="stocktransfer_name" placeholder="Name / Refference">
							    </div>

							    <label for="stocktransfer_src" class="col-sm-2 form-control-label">Source Outlet</label>
							    <div class="col-sm-4">
							      	<select class="form-control" id="stocktransfer_src">
									    <option>Main Outlet</option>
									    <option>Main Outlet 2</option>
								  	</select>
							    </div>
						  	</div>

						  	<div class="form-group row">
							    <label for="stocktransfer_dd" class="col-sm-2 form-control-label">Delivery due</label>
							    <div class="col-sm-4">
							      	<input type="text" class="form-control" id="stocktransfer_dd" placeholder="Delivery due">
							    </div>

							    <label for="stocktransfer_dst" class="col-sm-2 form-control-label">Destination Outlet</label>
							    <div class="col-sm-4">
							      	<select class="form-control" id="stocktransfer_dst">
									    <option>Main Outlet</option>
									    <option>Main Outlet 2</option>
								  	</select>
							    </div>
						  	</div>

						  	<div class="form-group row">
							    <label for="stocktransfer_autofill" class="col-sm-2 form-control-label">Auto fill</label>
							    <div class="col-sm-4">
							      	<select class="form-control" id="stocktransfer_autofill													">
									    <option>Auto fill from reorder point</option>
									    <option>Don't auto fill</option>
								  	</select>
							    </div>
						  	</div>

						  	<div class="form-group row">
							    <label for="stocktransfer_import" class="col-sm-2 form-control-label">Import Order</label>
							    <div class="col-sm-4">
							      	<input type="file" id="stocktransfer_import">
							    </div>
						  	</div>
							
							<div class="well well-sm">
								<div class="form-group row">
								    <div class="col-sm-offset-9">
									    <div class="col-sm-4">
								      		<button type="button" class="btn btn-secondary btn-default btn-border" onclick="load_view('/product_inventory_list.html')">Cancel</button>
									    </div>

									    <div class="col-sm-4">
								      		<button type="submit" class="btn btn-secondary btn-info btn-border">Submit</button>
									    </div>
								    </div>
							  	</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>





<script type="text/javascript">
	$('.bredcrumb_home').click(function(event){
		event.preventDefault();
	});
</script>