<div class="page-header">
    <h1 id="user_new">
        Product Setting
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Product color and size editor with add / delete
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/product_settings.html')">Reload</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <b style="color: #000">Product Color Manager</b>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="color-settings" class="container-fluid">
                <div class="row">
                    <div class="col-xs-8">
                        <div>
                            <ul id="color_grid_ul" class="ace-thumbnails clearfix"></ul>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        
                    </div>
                </div>
            </div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
var colorNode = $('#color_grid_ul');

    function colorGridCreator(color, code){
        var col = color.replace(/\s/g, '').toLowerCase();
        var html =  '<li>' +
                        '<div colorCode='+code+' colorName='+color+' style="background: '+code+'; height: 50px; width: 100px;" title="Photo Title" data-rel="colorbox" onclick="editColor(this)"></div>' +
                        '<div class="tags">' +
                            '<span class="label-holder">' +
                                '<span  class="label label-info arrowed"><small>'+color+'</small></span>' +
                            '</span>'
                        '</div>'
                        '</div>' +
                    '</li>';
        return html;
    }

    function editColor(node){
        
    }

    function pushColorNode(color, code){
        colorNode.append(colorGridCreator(color, code));
    }

    function fetchColors(){
        requestApi('/allcolors', 'GET', '', fetchColorsresp);
    }

    function fetchColorsresp(data){
        data.forEach(function(row){
            // console.log(row.name);
            pushColorNode(row.name, row.hashcode);
        });
    }
   
    jQuery(function($) {

        fetchColors();
    });

</script>
