<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			<div class="page-header" style="padding: 30px; background-color: #eee;">
				<h1>Review Inventory Count
					<small id="header_count_name"></small>
					<small id="header_count_type"></small>
					<small id="header_count_id"></small>
				</h1>
			</div>
			
			<div class="widget-box widget-color-default light-border">
				<div class="widget-header widget-header-small widget-header-flat">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li> <a href="#" class="bredcrumb_home" onclick="load_view('/order_list.html')">Products</a></li>
						<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_inventory_list.html')"> Stock Control </a></li>
						<li> <a href="#" class="bredcrumb_home" onclick="load_view('/product_inventory_count.html')">Product inventory Count </a></li>
						<li class="active" onclick="load_view('/product_inventory_count_review.html')">Review Inventory Count</li>
					</ol>
					<!-- BreadCrumb -->
					<div class="widget-toolbar">
						<a data-action="settings" href="#"><i class="ace-icon fa fa-bars"></i></a>
						<a data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
						<a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
						<a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
						<a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
					</div>
				</div>	<!-- widget header -->

				<div class="widget-body">
					<div class="widget-main no-padding">
						<div class="container-fluid" style="margin-top: 25px; margin-bottom: 50px;">
							<div class="row">
								<div class="col-md-12">
									<div class="tabbable">
										<ul id="counting_perform" class="nav nav-tabs tab-color-blue tab-color-blue background-blue tab-space-4 tab-size-bigger padding-32">
											<li class="active">
												<a href="#all" data-toggle="tab">All</a>
											</li>	
											<li>
												<a href="#unmatched" data-toggle="tab">Unmatched</a>
											</li>
											<li>
												<a href="#matched" data-toggle="tab">Matched</a>
											</li>
											<li>
												<a href="#excluded" data-toggle="tab">Excluded</a>
											</li>
											<li>
												<a href="#uncounted" data-toggle="tab">Uncounted</a>
											</li>
										</ul>
										<div class="tab-content padding-32">
											<div class="tab-pane" id="uncounted">
												
											</div>
											<div class="tab-pane" id="unmatched">
												
											</div>								
											<div class="tab-pane" id="matched">
												
											</div>
											<div class="tab-pane" id="excluded">
												
											</div>
											<div class="tab-pane in active" id="all">
												<table id="grid-review_all" data-height="550"></table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	<!-- main Body Container -->
					</div>	<!-- widget Main -->
					<div class="widget-toolbox padding-8 clearfix">
						<button class="btn btn-xs btn-danger pull-left" onclick="abandonCount();">
							<i class="ace-icon fa fa-arrow-left"></i>
							<span class="bigger-110">ABANDON COUNT</span>
						</button>

						<button class="btn btn-xs btn-success pull-right" onclick="completeCount();">
							<span class="bigger-110">COMPLETE COUNT</span>

							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
						</button>

						<button class="btn btn-xs btn-success pull-right" onclick="load_view('/product_inventory_count_perform.html')">
							<span class="bigger-110">RESUME COUNT</span>

							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
						</button>
					</div>
				</div>	<!-- widget Body -->
			</div>	<!-- widget Box -->

		</div>
	</div>	<!-- row -->
</div>	<!-- container fluid -->


<script type="text/javascript">
	var exicuting_count = curr_count_id;

	$(function(){
		breadCrumb();
		housekeeping();
	});

	function housekeeping(){
		$('#header_count_name').html(curr_count_name);
		$('#header_count_id').html("count ID: "+curr_count_id);
    }

    function abandonCount(){
    	var abandonData = new Object;
		abandonData.id = exicuting_count;
		abandonData.taskflg = 'kill';
		countStateChange(abandonData);
    }

    function completeCount(){
    	var completeData = new Object;
		completeData.id = exicuting_count;
		completeData.taskflg = 'comp';
		countStateChange(completeData);
    }

    function countStateChange(data){
    	requestApi('/countStatus', 'POST', JSON.stringify(data), countStateChange_response);
    }

    function countStateChange_response(data){
    	if (data.status == 'success') {
    		gritter("COUNT COMPLETE", "Count with ID: "+exicuting_count+" has successfully completed", false, '2000', 'gritter-success gritter-center');
    		load_view('/product_inventory_count.html');
    	} else if(data.status == 'kill'){
    		gritter("COUNT COMPLETE", "Count with ID: "+exicuting_count+" has successfully Terminated", false, '2000', 'gritter-success gritter-center');
    		load_view('/product_inventory_count.html');
    	} else {
    		console.log(data.message);
    	}
    }





	var grid_all = $('#grid-review_all').bootstrapTable({
        url: APP_BASE_API + "/reviewCountAll/"+exicuting_count,
        method: 'GET',
        search: false,
        searchOnEnterKey: false,
        pagination: true,
        sidePagination: 'server',
        pageSize: 10,
        pageList: [10, 25, 50, 100],
        showRefresh: false,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'item_name',
            title: 'PRODUCT'
        }, {
            field: 'quantity',
            title: 'EXPECTED'
        }, {
            field: 'stock_count',
            title: 'COUNTED'
        }, {
        	field: 'difference',
            title: 'Unit'
        },{
        	field: 'selling_price',
            title: 'Cost'
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        
    });

</script>