<div class="page-header">
    <h1 id="sales_report">
        Sales Report
        <small>
            <!-- <i class="ace-icon fa fa-angle-double-right"></i> -->
        </small>
    </h1>
</div><!-- /.page-header -->

<!-- <p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/discount_category_new.html')">Add New Discount Category</button>
</p> -->

<table id="grid-data"></table>

<script>
    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/sales",
        responseHandler: data_grid_response,
        method: 'POST',
        search: false,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 25,
        pageList: [20, 25, 50, 100],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'customer_name',
            title: 'Customer Name'
        }, {
            field: 'employee_name',
            title: 'Employee Name'
        }, {
            field: 'total_qty',
            title: 'Total Quantity'
        }, {
            field: 'employee_name',
            title: 'Employee Name'
        }, {
            field: 'employee_name',
            title: 'Employee Name'
        }, {
            field: 'product_discount',
            title: 'Product Discount'
        }, {
            field: 'category_discount',
            title: 'Category Discount'
        }, {
            field: 'net_total',
            title: 'Net Total'
        }, {
            field: 'total_vat',
            title: 'Total Vat'
        }, {
            field: 'round',
            title: 'Round'
        }, {
            field: 'total',
            title: 'Total'
        }, {
            field: 'due',
            title: 'Due'
        }, {
            field: 'return_amount',
            title: 'Return Amount'
        }
        // {
        //     field: 'commands',
        //     title: 'Commands',
        //     formatter: commandFormatter,
        //     searchable: false
        // }
        ]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){            
            load_view_n_data("/discount_category_edit.html","/discount_category/" + $(this).attr('uniqueId') + "/" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            delete_archive( $(this).attr('uniqueId'),function(data){
                $("#grid-data").bootstrapTable("refresh");
            }, 'category_discounts' );
        });
    });


    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
               '<button class="btn btn-info command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>';
    }

</script>