<div class="page-header">
	<h1>
		Close Register
	</h1>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Register details</h3>
			<table class="table table-hover table-bordered">
				<thead class="thead-info">
					<tr>					
						<th>Outlet</th>
						<th>Register</th>
						<th>Clouser</th>
						<th>Openning time</th>
					</tr>
				</thead>
				<tbody>
				    <tr>
						<td>Main Outlet</td>
						<td>Main register</td>
						<td>2</td>
						<td>-</td>
				    </tr>
			  	</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>Payments Summary</h3>
			<table id="open_close_register_payment"></table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group" style="margin-top: 30px;">
				<label for="comment"></label>
				<textarea class="form-control" rows="5" id="comment" placeholder="Type to add a register clouser note"></textarea>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-success btn-lg btn-block btn-border">Close Register</button>
		</div>
	</div>
</div>

<script>
    var grid = $('#open_close_register_payment').bootstrapTable({
        url: APP_BASE_API + "/discount_categories",
        method: 'POST',        
        sidePagination: 'server',
        pageSize: 10,
        pageList: [10, 25, 50, 100],
        height: 300,
        columns: [{
            field: 'payment_types',
            title: 'PAYMENT TYPES'
        }, {
            field: 'expected',
            title: 'EXPECTED (TK)'
        }, {
            field: 'counter',
            title: 'COUNTED (TK)',
            formatter: commandFormatter,
            searchable: false
        }, {
            field: 'differences',
            title: 'DIFFERENCES'
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".counted").on("click", function(e){
            console.log(this);
        });
    });

    function commandFormatter(value, row, index) {
        return '<input class="counted" uniqueId="'+ row.id +'">';
    }
</script>