<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            
            <div class="page-header">
                <h1>Sales History</h1>
            </div>
            
            <div class="tabbable" style="margin-top: 30px;">
                <ul id="myTab" class="nav nav-tabs tab-color-blue tab-color-blue background-blue tab-space-4 tab-size-bigger padding-32">
                    <li class="active">
                        <a href="#continue_sales" data-toggle="tab">Continue Sales</a>
                    </li>
                    <li>
                        <a href="#process_returns" data-toggle="tab">Process Returns</a>
                    </li>
                    <li>
                        <a href="#all_sales" data-toggle="tab">All Sales</a>
                    </li>
                </ul>
                <div class="tab-content padding-32">
                    <div class="tab-pane in active" id="continue_sales">
                        <div class="alert alert-info" role="alert">Continue processing a layby, On Account, and parked sale, or print and email receipts. Need help?</div>
                    </div>

                    <div class="tab-pane" id="process_returns">
                        <div class="alert alert-info" role="alert">Retrieve an old sale to process a return as an exchange or refund. Need help?</div>
                    </div>

                    <div class="tab-pane" id="all_sales">
                        <div class="alert alert-info" role="alert">Find all sales for a customer or product. Need help?</div>
                        <div id="all_sale_toolbar">
                            <div class="form-inline" role="form">
                                <div class="form-group">
                                    <span>Offset: </span>
                                    <input name="offset" class="form-control w70" type="number" value="0">
                                </div>
                                <div class="form-group">
                                    <span>Limit: </span>
                                    <input name="limit" class="form-control w70" type="number" value="5">
                                </div>
                                <div class="form-group">
                                    <input name="search" class="form-control" type="text" placeholder="Search">
                                </div>
                                <button id="ok" type="submit" class="btn btn-default">OK</button>
                            </div>
                        </div>

                       <table id="grid-data" data-toolbar="#all_sale_toolbar"></table>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>
<!-- <table id="grid-data" class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th data-column-id="invoice_number" >Invoice</th>
        <th data-column-id="total_qty" >Quantity</th>
        <th data-column-id="net_total" >Net Total</th>
        <th data-column-id="total_vat" >VAT</th>
        <th data-column-id="category_discount" >Discount</th>
        <th data-column-id="total" >Total</th>
        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
    </tr>
    </thead>
</table> -->



<script>
    var $table = $('#grid-data'),
        $ok = $('#ok');
    $(function () {
        $ok.click(function () {
            $table.bootstrapTable('refresh');
        });
    });
    function queryParams() {
        var params = {};
        $('#toolbar').find('input[name]').each(function () {
            params[$(this).attr('name')] = $(this).val();
        });
        return params;
    }
    function responseHandler(res) {
        return res.rows;
    }

    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/sales",
        responseHandler: data_grid_response,
        method: 'POST',
        search: false,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 25,
        pageList: [25, 30, 40,  50, 100],
        showRefresh: true,
        showColumns: true,
        buttonsClass: 'info',
        toolbar: '#all_sale_toolbar',
        columns: [{
            field: 'invoice_number',
            title: 'Invoice Number'
        }, {
            field: 'counter_number',
            title: 'Counter No'
        }, {
            field: 'total_qty',
            title: 'Total Quantity'
        }, {
            field: 'net_total',
            title: 'Net Total'
        }, {
            field: 'total_vat',
            title: 'Vat'
        },  {
            field: 'category_discount',
            title: 'Category Discount'
        }, {
            field: 'total',
            title: 'Total'
        }]
    });

</script>