<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>Introducing Cash Management</h1>
			<small>Start tracking cash movements across shifts, days and cashiers, and take control of your register.</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-primary btn-lg btn-lg btn-border">Enable Cash Management</button>
		</div>
	</div>
</div>