<div class="container-fluid">
	<div class="page-header">
		<h1>Status</h1>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>Reset local data</h4>
			<small>We keep a copy of some of your store data in your web browser so you can keep selling if you lose your Internet connection. Sometimes, this gets out of sync. Resetting it can help if you're having trouble with Vend.</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-danger btn-lg btn-lg btn-border">Reset Data</button>
		</div>
	</div>
</div>