<div class="page-header">
    <h1 id="user_edit">
        User Edit
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Edit User Credentials
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/user_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        User Profile Edit Form
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="Discount-Category-EDIT"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
    // console.log(currentDataUrl);
    $.alpaca.Fields.Custom1Field = $.alpaca.Fields.TextField.extend({
        getFieldType: function() {
            return "isActive";
        },
        setValue: function(val) {
            var value = val.split(" ");
            if (value == '1') {
                this.base("Activated");    
            } else {
                this.base("Deactivcated");
            }
        }
    });
    Alpaca.registerFieldClass("isActive", Alpaca.Fields.Custom1Field);

    $("#Discount-Category-EDIT").alpaca({
        "dataSource": currentDataUrl,
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string",
                },
                "first_name": {
                    "title": "First Name",
                    "type": "string"
                },
                "last_name": {
                    "title": "Last Name",
                    "type": "string"
                },
                "email": {
                    "title": "Email Address",
                    "type": "string"
                },
                "activated": {
                    "type": "string",
                },
                "status_change": {
                    "title": "Change Status",
                    "enum": ["1", "0"]
                },
                "current_password": {
                    "title": "Type Current Password",
                    "type": "string"
                },
                "new_password": {
                    "title": "New Password",
                    "type": "string"
                }
            }
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "first_name": {
                    "helper": "Change User's First Name"
                },
                "last_name": {
                    "helper": "Change User's Last Name"
                },
                "email": {
                    "helper": "Change User's Email Address"
                },
                "activated": {
                    "type": "isActive",
                    "helper": "The Status of this user.. Change the status below",
                    "disabled": true
                },
                "status_change": {
                    "type": "select",
                    "optionLabels": ["Activate", "Deactivcate"],
                    "noneLabel": "-- Select --",
                    "removeDefaultNone": false,
                    "helper": "Activate or Deactivate Status"
                },                
                "current_password": {
                    "type": "password",
                    "helper": "In order to change your password you have to provide current password",
                },
                "new_password": {
                    "type": "password",
                    "helper": "Enter your new password",
                }
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/userEdit",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(data){
                                if(data.status == "success"){
                                    gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                    load_view('/user_management.html');
                                } else {
                                    gritter(data.status, data.message, false, '3500', 'gritter-error gritter-center');
                                }
                            }).fail(function(){
                                    gritter("Error", "Sending Failed", false, '3500', 'gritter-error gritter-center');
                                    });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>