<div class="page-header">
    <h1 id="user_management">
        User Management
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create or Delete Users
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/user_new.html')">Add New Users</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        User List
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="grid-data" data-height="700"></table>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<script>
    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/users",
        responseHandler: data_grid_response,
        method: 'POST',
        search: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 15,
        pageList: [15, 25, 50, 100],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'first_name',
            title: 'First Name'
        }, {
            field: 'last_name',
            title: 'Last Name'
        }, {
            field: 'activated',
            title: 'Activated',
            cellStyle: statusCellstyle,
            formatter: statusFormatter,
        }, {
            field: 'email',
            title: 'Email Address'
        }, {
            field: 'created_at',
            title: 'Created At'
        }, {
            field: 'last_login',
            title: 'Last Login'
        }, {
            field: 'commands',
            title: 'Commands',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/user_edit.html","/userEdit/" + $(this).attr('uniqueId') + "/" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
		var deleteUserId = $(this).attr('uniqueId');
            bootbox.confirm("Are you sure to delete this user?", function(result) {
                if(result) {
                    requestApi('/userDelete/'+ deleteUserId, "GET", '', function(data){
                        if (data.status == "success") {
                            gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                            $("#grid-data").bootstrapTable("refresh");
                        } else {
                            gritter(data.status, data.message, false, '3000', 'gritter-error gritter-center');
                        }
                    });
                }
            });
        });
    });

    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
               '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>';
    }

    function statusFormatter(value, row, index){
        if (value == '1') {
            return "Active";
        } else {
            return "Inactive";
        }
    }

    function statusCellstyle(value, row, index, field){
        if (value == '0') {
            return { css: {"background": "#fb9999"} };
        } else {
            return { css: {"background": "#dbffd7"} };
        }
    }

    $("#Discount-Category-EDIT").alpaca({
        "dataSource": currentDataUrl,
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string",
                },
                "name": {
                    "title": "Name",
                    "type": "string"
                },
                "email": {
                    "title": "Email",
                    "type": "string"
                },
                "new_password": {
                    "title": "New Password",
                    "type": "string"
                }
            }
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "name": {
                    "helper": "Enter User's Name"
                },
                "email": {
                    "helper": "Enter User's Email Address"
                },
                "new_password": {
                    "helper": "Enter password for user"
                }
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/userEdit",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(){
                                load_view('/user_management.html');
                            }).fail(function(){
//                                    console.warn('Failed to save');
                                    });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>