<div class="page-header">
    <h1 id="user_new">
        User New
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create new user account for admin Planel
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/user_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        User Registration Form
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="user-NEW"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
// console.log(currentDataUrl);
    $("#user-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string"
                },
                "first_name": {
                    "title": "First Name",
                    "type": "string",
                    "required": true                    
                },
                "last_name": {
                    "title": "Last Name",
                    "type": "string",
                    "required": true
                },
                "email": {
                    "title": "Email Address",
                    "type": "string",
                    "required": true
                },
                "password": {
                    "title": "New Password",
                    "type": "string",
                    "required": true
                }
            }
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "password": {
                    "type": "password"
                }
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/userEdit",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(data){
                                if(data.status == "success"){
                                    gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                    load_view('/user_management.html');
                                } else {
                                    gritter(data.status, data.message, false, '3000', 'gritter-error gritter-center');
                                }
                            }).fail(function(){
//                                    console.warn('Failed to save');
                                    gritter("Error", "Sending Failed", false, '3000', 'gritter-error gritter-center');
                                    });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>