<div class="page-header">
    <h1 id="widget_manage">
        Widgets
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Manage Your Widgets
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-default">
    <button class="btn btn-default" onclick="load_view('/widget_management.html')">Reload</button>
</p>

<div id="widget_container" class="container-fluid">

            <div id="wizcon_1" class="widget-box widget-color-blue2">
                <div class="widget-header">
                    <h5 class="widget-title bigger lighter">
                        <i class="ace-icon fa fa-table"></i>
                        New Arrival
                    </h5>
                    <div class="widget-toolbar widget-toolbar-light no-border">
                        <a data-action="reload" href="#"><i class="wizcon_reload ace-icon fa fa-refresh"></i></a>
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="wizcon_coll_btn ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>

                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="widget_newarrival"></div>
                    </div>
                </div>
            </div>  <!-- widget Box -->


            <div id="wizcon_2" class="widget-box widget-color-blue2 collapsed">
                <div class="widget-header">
                    <h5 class="widget-title bigger lighter">
                        <i class="ace-icon fa fa-table"></i>
                        Men
                    </h5>
                    <div class="widget-toolbar widget-toolbar-light no-border">
                        <a data-action="reload" href="#"><i class="wizcon_reload ace-icon fa fa-refresh"></i></a>
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="wizcon_coll_btn ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>

                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="widget_men"></div>
                    </div>
                </div>
            </div>  <!-- widget Box -->



            <div id="wizcon_3" class="widget-box widget-color-blue2 collapsed">
                <div class="widget-header">
                    <h5 class="widget-title bigger lighter">
                        <i class="ace-icon fa fa-table"></i>
                        Women
                    </h5>
                    <div class="widget-toolbar widget-toolbar-light no-border">
                        <a data-action="reload" href="#"><i class="wizcon_reload ace-icon fa fa-refresh"></i></a>
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="wizcon_coll_btn ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>

                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="widget_women"></div>
                    </div>
                </div>
            </div>  <!-- widget Box -->

  
            <div id="wizcon_4" class="widget-box widget-color-blue2 collapsed">
                <div class="widget-header">
                    <h5 class="widget-title bigger lighter">
                        <i class="ace-icon fa fa-table"></i>
                       Children 
                    </h5>
                    <div class="widget-toolbar widget-toolbar-light no-border">
                        <a data-action="reload" href="#"><i class="wizcon_reload ace-icon fa fa-refresh"></i></a>
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="wizcon_coll_btn ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>

                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="widget_children"></div>
                    </div>
                </div>
            </div>  <!-- widget Box -->


    <div id="wizcon_5" class="widget-box widget-color-blue2 collapsed">
        <div class="widget-header">
            <h5 class="widget-title bigger lighter">
                <i class="ace-icon fa fa-table"></i>
                Accessories
            </h5>
            <div class="widget-toolbar widget-toolbar-light no-border">
                <a data-action="reload" href="#"><i class="wizcon_reload ace-icon fa fa-refresh"></i></a>
                <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                <a data-action="collapse" href="#"><i class="wizcon_coll_btn ace-icon fa fa-chevron-up"></i></a>
                <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
            </div>

        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div id="widget_accessories"></div>
            </div>
        </div>
    </div>  <!-- widget Box -->    
</div>

<script>
    var widget_count = 0;
    var current_widget;

    var widgetContainerNode = $('#widget_container');

    var newarrivalpos = 1;
    var womenpos = 2;
    var menpos = 3;
    var childrenpos = 4;
    var accessoriespos = 5;

    var newarrivaluri = 'newarrivals';
    var womenuri = 'women';
    var menuri = 'men';
    var chielduri = 'chieldren';
    var accessoriesuri = 'accessories';

    function buildHtmlforwidget(node){
        widget_count++;
        var wiz_title = node.toUpperCase();
        var html = '<div id="wizcon-'+widget_count+'" class="widget-box widget-color-blue2">' +
                        '<div class="widget-header">' +
                            '<h5 class="widget-title bigger lighter">' +
                                '<i class="ace-icon fa fa-table"></i>' +
                                wiz_title +
                            '</h5>' + 
                            '<div class="widget-toolbar widget-toolbar-light no-border">' +
                                '<a id="wizcon-reload-'+widget_count+'" data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>' +
                                '<a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>' +
                                '<a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>' +
                                '<a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>' +
                            '</div>' +

                        '</div>' +

                        '<div class="widget-body">' +
                            '<div class="widget-main">' +
                                '<div id="widget_"'+node+'></div>' +
                            '</div>' +
                        '</div>' +
                    '</div>';
        return html;
    }

    function pushWidgetHtml(html){
        widgetContainerNode.append(html);
    }
 
    ////// widget_newarrival...............................................
    function load_form_data(widget, pos){
        var tmp_uri;
        switch(pos){
            case 1:
                tmp_uri = newarrivaluri;
                break;
            case 2:
                tmp_uri = womenuri;
                break;
            case 3:
                tmp_uri = menuri;
                break;
            case 4:
                tmp_uri = chielduri;
                break;
            case 5:
                tmp_uri = accessoriesuri;
                break;
        }
        $.ajax({
            url : APP_BASE_API + "/widgets/"+pos+"/" + randomGenarator(),
            type: "GET",
            success:function(data, textStatus, jqXHR){
                if(data.total == 1){
                    data.rows.forEach(function(row){

                        $('#'+widget+'_id').val(row.id);
                        $('#'+widget+'_title').val(row.title);
                        $('#'+widget+'_description').val(row.description);
                        $('#'+widget+'_uri_name').val(row.uri_name);
                        $('#'+widget+'_avatar-image').attr("src","http://"+data.docroot+row.avatar);
                        $('#'+widget+'_avatar-image').attr("alt","No Photo Found");
                        $('#'+widget+'_avatar-image').css("width","300");

                        $('#'+widget+'_pos').val(pos);
                        $('#'+widget+'_uri').val(tmp_uri);
                    });
                }

                $('.preloader').hide();
            },
            error: function(jqXHR, textStatus, errorThrown){
                $('.preloader').hide();
            }
        });
    }

    function reload_form(node, nodename){
        node.alpaca('destroy');
        load_form(nodename);
    }

    function load_form(widget){
        var tmp_pos;
        switch(widget){
            case 'newarrival':
                tmp_pos = newarrivalpos;
                break;
            case 'women':
                tmp_pos = womenpos;
                break;
            case 'men':
                tmp_pos = menpos;
                break;
            case 'children':
                tmp_pos = childrenpos;
                break;
            case 'accessories':
                tmp_pos = accessoriespos;
                break;
        }
        $("#widget_"+widget).alpaca({
            "schema": {
                "type": "object",
                "properties": {
                    "imagePreview": {
                        "type": "string",
                    },
                    "id":{
                        "type": "string",
                    },
                    "pos": {
                        "type": "string",
                    },
                    "title": {
                        "title": "Title",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 50,
                    },
                    "description": {
                        "title": "Description",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 50,
                    },
                    "uri": {
                        "title": "Link uri for the Button",
                        "type": "string",
                    },
                    "uri_name": {
                        "title": "Button Text",
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 15,
                    },
                    "image_video": {
                        "title": "Image",
                        "type": "string"
                    },
                }
            },
            "postRender": function(control) {
                load_form_data(widget, tmp_pos);
            },
            "options": {
                "fields": {
                    "imagePreview": {
                        "id": widget+"_avatar",
                        "type": "image",
                        "view": "bootstrap-display",
                        "helper": "Current uploaded uploaded"
                    },
                    "id": {
                        "id": widget+"_id",
                        "type": "hidden"
                    },
                    "pos": {
                        "id": widget+'_pos',
                        "type": "hidden",
                    },
                    "title": {
                        "id": widget+"_title",
                        "helper": "Enter to edit the Widget title line"
                    },
                    "uri": {
                        "id": widget+"_uri",
                        "disabled": true,
                        "helper": widget+" uri. "
                    },
                    "uri_name": {
                        "id": widget+"_uri_name",
                        "helper": "The button in the widget has a text on it, here to edit the text"
                    },
                    "description": {
                        "id": widget+"_description",
                        "helper": "Enter Description text"
                    },
                    "image_video": {
                        "id": widget+"_image_video",
                        "type": "file",
                        "selectionHandler": function(files, data) {
                            this.data = data;
                        },
                        "helpers": ["Choose to Upload Widget Picture", "Please Choose images for top two widgets as their size is 556x387 px", "Please Choose images for top two widgets as their size is 350x269 px"],
                    },
                },
                "form": {
                    "attributes": {
                        "action": APP_BASE_API + "/widget/"+tmp_pos,
                        "enctype": "multipart/form-data",
                        "method": "POST"
                    },
                    "buttons": {
                        "submit": {
                            "click": function() {
                                this.refreshValidationState(true);
                                if (!this.isValid(true)) {
                                    this.focus();
                                    return;
                                }

                                var config = {};
                                var value = this.getValue();
                                var id = this.getId();
                                var formData = new FormData($("form#"+id)[0]);
                                config.data =  formData;
                                config.processData = false;
                                config.contentType = false;
                                this.ajaxSubmit(config).done(function(data){
                                    if(data.status == "success"){
                                        gritter(data.status, data.message, false, '1500', 'gritter-success');
                                        load_view('/widget_management.html')
                                    } else {
                                        gritter(data.status, data.message, false, '1500', 'gritter-error');
                                    }
                                }).fail(function(){
                                   gritter("Error", "Sending Failed", false, '1500', 'gritter-error');
                                        });
                            }
                        },
    //                        "reset": {},
                    }
                }
            }
        });
    }

    $(function(){
        //pushWidgetHtml(buildHtmlforwidget('newarrival'));
        load_form('newarrival');
        load_form('men');
        load_form('women');
        load_form('children');
        load_form('accessories');
        
        $('.wizcon_coll_btn').click(function(){
            console.log($(this).parent().parent().parent().parent().attr('id') );
        });

        $('.wizcon_reload').click(function(){
            var wizcon = $(this).parent().parent().parent().parent();
            var form_con = wizcon.find('.widget-main').children();
            var form_node = form_con.attr('id').split('_')[1];
            reload_form(form_con, form_node);
        });
    })
</script>